.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 0;
  background: linear-gradient(to top right, #0098be, #56b7d0);
  z-index: 11;
}

.header
{
  width: 100%;
  height: 8%;
  padding: 0 10px;
}

.back-wrapper
{
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
}
.back
{
  color: #ffffff;
  background-color: #8cd0e1;
  border-radius: 50%;
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
}

.content
{
  background-color: white;
  width: 100%;
  height: 92%;
  border-radius: 60px 0 0 0;
  display: flex;
  flex-direction: column;
}

.select-header
{
  display: flex;
  align-items: center;
  height: 5vh;
  border-radius: 60px 0 0 0;
  padding: 0 30px;
  margin-top: 15px;
}

.back-to-profile-wrapper
{
  height: 100%;
  max-height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x-btn
{
  color: #ffffff;
  font-size: 5vmin;
  background-color: #749faa;
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-wrapper
{
  height: 100%;
  max-height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.next-btn
{
  color: #0098be;
  font-size: 7vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100%;
}
.next-btn::after
{
  content: 'next';
  color: #0098be;
  font-size: 3vmin;
}

.component-container
{
  width: 100%;
  flex: 1;
}
