<div class="my-container">
  <div class="header">
    <div
      class="back-wrapper"
      *ngIf="currentState==sharingPostState.postEditing || currentState==sharingPostState.checkPostPhotos"
      (click)="back()"
    >
      <div class="back"><i class="fa-solid fa-arrow-left"></i></div>
    </div>
  </div>
  <div class="content">
    <div class="select-header" *ngIf="currentState==sharingPostState.selectBoughtItems">
      <div class="back-to-profile-wrapper">
        <div class="x-btn" (click)="backToProfile()"><i class="fa-solid fa-xmark"></i></div>
      </div>
      <div class="next-wrapper">
        <div class="next-btn" (click)="next()"><i class="fa-solid fa-arrow-right"></i></div>
      </div>
    </div>

    <div class="component-container">
      <div class="component" #container></div>
      <!-- create component after view container-->
    </div>

  </div>
</div>
