.my-container
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.big-post-active
{
  left: 0 !important;
  right: 0 !important;
}

.big-post
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 10;
  transition: all .5s;
  background-color: #ffffff;
}
