<div class="my-container">
  <div
    class="content"
  >
    <div class="edit-pane" *ngIf="!isOpenProductEdit && !isOpenProductEditDetail">
      <div class="pic-wrapper">
        <label
          class="pic"
          [ngStyle]="{
            'background-image': 'url('+(shopPic$ | async)+')'
          }"
        >
          <input style="display: none;" type="file" class="upload-img" (change)="onFileSelect($event)">
          <div class="add"><i class="fa-solid fa-plus"></i></div>
        </label>
      </div>
      <div class="form">
        <form [formGroup]="editForm" (ngSubmit)="editProfile()">
          <div class="my-input-group">
            <div class="input-item">
              <div class="lab">
                Display Name
                <div class="error" *ngIf="name?.invalid && name?.touched">name is invalid</div>
              </div>
              <input formControlName="name" type="text">
            </div>
            <div class="input-item" (click)="editStatus()">
              <div class="lab">
                Status
              </div>
              <input formControlName="status" type="text">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="input-item">
              <div class="lab">
                Birthday
              </div>
              <input formControlName="birthday" type="date">
            </div>
            <div class="input-item" (click)="editProduct()">
              <div class="lab">
                Product
              </div>
              <div class="product-num">
                <!-- show product num -->
                <div class="num" style="font-size: 4.5vmin;">{{ (getPostCount$|async) }}</div>
                <div class="see-more">see more</div>
              </div>
            </div>
          </div>
          <div class="confirm">
            <input type="submit" value="Confirm">
          </div>
        </form>
      </div>
    </div>

    <!-- edit post -->
    <div
      class="product-edit"
      *ngIf="isOpenProductEdit"
    >
      <app-product-edit></app-product-edit>
    </div>

    <!-- edit post detail -->
    <div
      class="product-edit-detail"
      *ngIf="isOpenProductEditDetail"
    >
      <app-product-edit-detail></app-product-edit-detail>
    </div>

  </div>
</div>

<div *ngIf="isStatusActive" class="edit-status" [ngClass]="isStatusActive?'edit-status-active':''">
  <app-edit-status
    [originalContent]="status?.value"
    (collapse)="isStatusActive=$event"
    (saveStatus)="saveStatus($event)"
  ></app-edit-status>
</div>

<!-- entire window -->
<div *ngIf="isSaving" class="loader">
  <app-entire-loader-roller
    [isLoading]="isSaving"
  ></app-entire-loader-roller>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="popupTitle"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnCancel)="this.isVisible=false"
  (nzOnOk)="this.isVisible=false"
>
  <ng-container *nzModalContent>
    <div style="color: black; font-size: 4vmin;">{{ popupContent }}</div>
  </ng-container>
</nz-modal>


