.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
  overflow-y: scroll;
}

.edit-pane
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.pic-wrapper
{
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.pic
{
  border: 1px solid black;
  width: 40%;
  max-width: 20vh;
  max-height: 100%;
  border-radius: 50%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.add
{
  position: absolute;
  color: #ffffff;
  background-color: black;
  border-radius: 50%;
  bottom: 5px;
  right: 10px;
  width: 18%;
  font-size: 4vmin;
}

.add::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.add>i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form
{
  width: 100%;
  height: 75%;
}


.text
{
  color: #0098be;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form
{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form>form
{
  height: 92%;
}

.my-input-group
{
  flex: 4;
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  flex-direction: column;
}

.input-item
{
  position: relative;
  background-color: #ffffff;
  flex: 1;
  margin: 10px 0;
  border-radius: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.lab
{
  color: #0098be;
  display: flex;
  align-items: center;
  font-size: 4.3vmin;
}

.lab>i
{
  margin-right: 5px;
}

.input-item > input,
.input-item > .pass-input > input
{
  outline: none;
  border: none;
  flex: 1;
  padding: 5px 0;
  font-size: 4.5vmin;
  width: 100%;
  height: 100%;
}

.error
{
  color: red;
  font-size: 0.9rem;
  margin-left: auto;
}

.confirm
{
  margin-top: 20px;
  margin-left: 90%;
  transform: translateX(-50%);
}

.confirm>input
{
  border: none;
  outline: none;
  color: #ffffff;
  background: linear-gradient(to right, #0098be, #56b7d0);
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 4vmin;
}

.fa-arrow-right
{
  position: absolute;
  font-size: 5vmin;
  right: 15px;
  bottom: 15px;
}

.edit-status
{
  position: absolute;
  top: calc((8vh - 100vh) * ( 8 / 100 ));
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 10;
  transition: left .5s;
}

.edit-status-active
{
  right: 0 !important;
  left: 0 !important;
}

.loader
{
  position: absolute;
  top: calc((8vh - 100vh) * ( 8 / 100 ));
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}

.product-num
{
  display: flex;
  align-items: center;
}
.see-more
{
  margin-left: auto;
  font-size: 3.5vmin;
  color: #8a8a8a;
}

.product-edit
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}

.product-edit-detail
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
