<div class="my-container">
  <div class="content">

    <!-- register form -->
    <div class="form">
      <div class="title">Seller Registration</div>
      <form [formGroup]="sellerRegister" (ngSubmit)="submit()">
        <div class="questions">

          <!-- progress -->
          <div class="question q-progress">
            <div class="pro pro-active seller-info">
              <div class="circle"></div>
              <div class="text"> Seller Information </div>
            </div>
            <div [ngClass]="isNext?'pro-active':''" class="line-wrapper">
              <div class="line"></div>
            </div>
            <div [ngClass]="isNext?'pro-active':''" class="pro submit">
              <div class="circle"></div>
              <div class="text">Submit</div>
            </div>
          </div>

          <!-- shop name -->
          <div *ngIf="!isDone" class="question q-control shop-account">
            <div class="label" (click)="test()">
              <span>Full Name</span>
              <span
                class="error"
                *ngIf="shopName?.errors?.['isTaken'] && shopName?.touched"
              >the name has been taken</span>
            </div>
            <div class="input">
              <input [(ngModel)]="shopNameInput" formControlName="shopName" type="text" placeholder="input...">
            </div>
          </div>

          <!-- self intro -->
          <div *ngIf="!isDone" class="question q-control self-intro">
            <div class="label">
              Shop Introduction
              <span class="error" *ngIf="selfIntro?.invalid && selfIntro?.touched">invalid shop introduction</span>
            </div>
            <div class="input">
              <textarea formControlName="selfIntro" [(ngModel)]="selfIntroContent" cols="50" rows="50"></textarea>
              <div
                class="left-words"
                [ngStyle]="{'color': selfIntroContent.length > maxWords ? 'red' : ''}"
              >
                {{ selfIntroContent.length+'/'+maxWords }}
              </div>
            </div>
          </div>

          <!-- done page -->
          <div *ngIf="isDone" class="done-page">
            <div class="done-info">
              <div class="ok-wrapper">
                <div class="ok"><i class="fa-solid fa-check"></i></div>
              </div>
              <div class="done-text">
                <strong>Submitted Successfully</strong>
                <div>now you can proceed to add your first product!</div>
              </div>
            </div>
          </div>

        </div>

        <!-- form button -->
        <div *ngIf="!isDone" class="buttons">
          <button class="btn back" (click)="back()">Back</button>
          <button class="btn next" type="submit" [disabled]="sellerRegister.invalid">Next</button>
        </div>

        <!-- done button -->
        <div *ngIf="isDone" class="done-button">
          <div class="done" (click)="done()">Done</div>
        </div>

      </form>
    </div>
  </div>
</div>
