.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
button
{
  border: none;
}
input
{
  outline: none;
  border: none;
}
input::placeholder
{
  color: #94b6be;
  font-size: 4vmin;
}

.content
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  overflow-y: scroll;
}

.form
{
  border-radius: 20px;
  background-color: #fbfbfb;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form>form
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.title
{
  color: #0098be;
  font-size: 5vmin;
  font-weight: 700;
}

.buttons
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.btn{
  font-size: 4vmin;
  color: white;
  border-radius: 30px;
  padding: 15px 30px;
  margin: 0 10px;
}
.back
{
  background-color: #e1e1e1;
}
.next
{
  background-color: #0098be;
}

.questions
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  min-height: 70%;
}

.question
{
  width: 95%;
  background-color: #ffffff;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  margin: 10px 0;
  /* min-height: 25%; */
}

.q-progress
{
  display: flex;
  align-items: center;
  padding: 10px 5px;
  color: #d5d5d5;
  font-size: 3.5vmin;
}
.pro
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seller-info
{
  width: 40%;
  height: 100%;
}
.submit
{
  width: 20%;
  height: 100%;
}
.pro>.circle
{
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  width: 8vmin;
  min-width: 8vmin;
  aspect-ratio: 1/1;
  margin: 0 10px;
  margin-bottom: 10px;
}
.pro>.text
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-wrapper
{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.line
{
  border: 1px solid #d5d5d5;
  width: 100%;
  height: 0;
  margin-bottom: calc(10px + 4vmin); /*based on circle*/
}
.pro-active
{
  color: #0098be;
}
.pro-active>.circle, .pro-active>.line
{
  border: 1px solid #0098be;
}

.q-control
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error
{
  display: block;
  color: red;
  font-size: 0.9rem;
  margin-left: auto;
}
.q-control>.label
{
  width: 100%;
  color: #0098be;
  font-size: 4vmin;
  padding: 0 10px;
}
.q-control>.input
{
  width: 100%;
  flex: 1;
  margin: 10px 0;
  padding: 0 10px;
  position: relative;
  max-height: calc(25vh - 10px * 2);
}
.q-control>.input>input
{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 4vmin;
}

.input>textarea
{
  border: none;
  outline: none;
  width: 100%;
  max-height: 100%;
  border-radius: 15px;
  background-color: #fbfbfb;
  padding: 15px;
  font-size: 4.5vmin;
  color: black;
}

.left-words
{
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: #0098be;
  font-weight: 500;
  font-size: 4vmin;
}

.done-page
{
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done-info
{
  width: 100%;
  margin: 10px 0;
  color: #0098be;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ok-wrapper
{
  aspect-ratio: 1/1;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ok
{
  background-color: #0098be;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
  width: 100%;
  font-size: 6vmin;
}
.ok::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.done-text
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 4vmin;
}

.done-button
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.done
{
  color: #ffffff;
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  border-radius: 40px;
  background: linear-gradient(to right, #0098be, #56b7d0);
}
