.my-container
{
  width: 100%;
  height: 100%;
}
input,
textarea
{
  border: none;
  outline: none;
}

.content
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px !important;
  padding: 15px 20px;
}

.posts-pics,
.name-input-group,
.caption-input-group
{
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  color: #0098be;
  padding-bottom: 10px;
  margin: 5px 0;
}

.posts-pics
{
  height: 20%;
}
.pics
{
  position: relative;
  border-radius: 15px;
  max-height: 100%;
  width: 40%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.pics>.more-icon
{
  position: absolute;
  color: #ffffff;
  font-size: 4.5vmin;
  top: 5px;
  right: 10px;
}
.pics>.more-icon>i
{
  filter: drop-shadow(0px 0px 6px black);
}

form
{
  width: 100%;
  flex: 1;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.name-input-group,
.caption-input-group
{
  display: flex;
  flex-direction: column;
}

.name-input-group
{
  height: 17%;
}

.label
{
  color: #0098be;
  font-size: 4vmin;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.text-num
{
  margin-left: auto;
  display: inline-block;
}
.text-num-exceed
{
  color: red;
}
.input
{
  font-size: 4vmin;
  color: #000000;
  max-height: 85%;
}
.input>input
{
  width: 100%;
  height: 95%;
  padding: 5px 15px;
}

.input>textarea
{
  width: 100%;
  height: 100%;
  padding: 5px 15px;
}

.caption-input-group
{
  height: 50%;
}

.upload
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 90%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 4vmin;
  background-color: #0098be;
  /* margin-top: auto; */
  padding: 10px;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
