<div class="my-container" *ngIf="selectedItem">
  <div class="content">
    <div class="posts-pics">
      <div
        class="pics"
        [ngStyle]="{
          'background-image': 'url('+selectedItem.images[0]+')'
        }"
        (click)="checkPhotos()"
      >
        <div class="more-icon"><i class="fa-regular fa-images"></i></div>
      </div>
    </div>
    <form [formGroup]="postForm" (ngSubmit)="upload()">
      <div class="name-input-group">
          <div class="label">
            <strong>Name</strong>
            <div
              class="text-num"
              [ngClass]="name?.value.length>60?'text-num-exceed':''"
            >{{name?.value.length}}/60</div>
          </div>
          <div class="input">
            <input type="text" formControlName="name">
          </div>
      </div>
      <div class="caption-input-group">
        <div class="label">
          <strong>Write Caption...</strong>
          <div
            [ngClass]="caption?.value.length>300?'text-num-exceed':''"
            class="text-num"
          >{{caption?.value.length}}/300</div>
        </div>
        <div class="input">
          <textarea cols="30" rows="10" formControlName="caption"></textarea>
        </div>
      </div>
      <button class="upload" type="submit">Upload</button>
    </form>
  </div>
</div>

<app-entire-loader-roller
  [isLoading]="isUploading"
></app-entire-loader-roller>
