<div class="my-container">
  <div class="header">
    <div class="back" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
  </div>
  <div class="content">
    <div class="search-block">
      <div class="search-bar">
        <div class="ser-glass"><i class="fa-solid fa-magnifying-glass"></i></div>
        <div class="ser-inp">
          <input
            type="text"
            placeholder="Search"
            [(ngModel)]="keyword"
            (keypress)="searchLabels($event)"
          >
        </div>
      </div>
      <div class="search-res">
        <div
          class="search-res-wrapper"
          *ngIf="(searchLabelsRes$|async) as labels; else loader"
        >
          <div
            class="search-res-item"
            *ngFor="let l of removeDuplicateLabels(selectedLabels.concat(labels))"
            (click)="clickLabel(l)"
          >
            <div
              class="label-name"
              [ngClass]="selectedLabels.includes(l) ? 'selected-label' : ''"
            >{{ l.name }}</div>
            <div *ngIf="selectedLabels.includes(l)" class="ser-res-item-remove">
              <i class="fa-solid fa-xmark"></i>
            </div>
          </div>

        </div>

        <ng-template
          style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;"
          #loader
        >
          <app-loader-spiner
            *ngIf="!isInit"
          ></app-loader-spiner>
        </ng-template>

      </div>

      <div class="confirm" (click)="confirm()">
        Confirm
      </div>
    </div>
  </div>
</div>
