.my-container
{
  background: linear-gradient(to top right, #0098be, #56b7d0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
input
{
  border: none;
  outline: none;
}

.header
{
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.back
{
  max-height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  color: #ffffff;
  font-size: 3.5vmin;
  background-color: #8cd0e1;
}

.content
{
  height: 93%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.search-block
{
  width: 100%;
  height: 90%;
  border-radius: 20px;
  background-color: #f8f8f8;
  padding: 10px 15px;
  position: relative;
}
.search-bar
{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #a7c2c9;
}
.ser-glass
{
  font-size: 4vmin;
  color: #0098be;
  margin: 0 5px;
}
.ser-inp
{
  flex: 1;
}
.ser-inp>input
{
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background-color: transparent;
}
.ser-inp>input::placeholder
{
  color: #80a7b2;
  font-size: 4vmin;
}
.search-res
{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-res-wrapper
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.search-res-item
{
  color: #0098be;
  font-size: 4vmin;
  width: 100%;
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
}

.label-name
{
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.ser-res-item-remove
{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #749faa;
}
.selected-label
{
  background-color: #e2e2e2;
  border-radius: 20px;
}

.confirm
{
  font-size: 4vmin;
  color: #ffffff;
  background-color: #0098be;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
