<div class="my-container">
  <div class="content">
    <div class="post-list" *ngIf="(getAllPost$|async) as posts">
      <div
        *ngFor="let post of posts"
        class="post"
      >
        <div class="top">
          <div class="pic-wrapper">
            <div
             class="pic"
             [ngStyle]="{
              'background-image': post.images[0].startsWith('http') ? 'url('+post.images[0]+')' : 'url('+imgBase+post.images[0]+')'
              }"
            ></div>
          </div>
          <div class="name-wrapper">
            <div class="name">{{ post.name }}</div>
          </div>
          <div class="action-wrapper">
            <div class="edit">
              <i
                class="fa-solid fa-pen-to-square"
                (click)="editPost(post)"
              ></i>
            </div>
            <div class="delete">
              <i
                class="fa-solid fa-trash"
                (click)="popModal(post)"
              ></i>
            </div>
          </div>
        </div>
        <div class="mid">
          <div class="info-wrapper price-wrapper">
            <div class="label">Price</div>
            <div class="info price">{{ 'NT ' + post.price }}</div>
          </div>
          <div class="superlike-wrapper">
            <div class="discount">{{ 'NT '+(post.price * post.discount) }}</div>
            <div class="progress-text"><div>10/10 complete</div></div>
          </div>
        </div>
        <div class="bot">
          <div class="info-wrapper">
            <div class="label">Stock</div>
            <div class="info">{{ post.stock }}</div>
          </div>
          <div class="info-wrapper">
            <div class="label">Transport fees</div>
            <div class="info">{{ 'NT '+0 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="DELETE POST"
  (nzOnCancel)="this.isModalVisible=false"
  (nzOnOk)="deletePost()"
  nzOkText="Ok"
  nzCancelText="Cancel"
>
  <ng-container *nzModalContent>
    <div style="color: black; font-size: 4vmin;">Are you sure to delete post?</div>
  </ng-container>
</nz-modal>
