.my-container
{
  width: 100%;
  height: 100%;
}

.content
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  overflow-y: scroll;
}

.post-list
{
  border-radius: 20px;
  width: 95%;
  height: 90%;
  overflow-y: scroll;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.post
{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px 20px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.top
{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.pic-wrapper
{
  width: 20%;
}
.pic
{
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.name-wrapper
{
  width: 70%;
  font-weight: 700;
  font-size: 4vmin;
  padding: 0 20px;
}
.action-wrapper
{
  width: 15%;
  font-size: 5vmin;
  color: #0098be;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 10px;
  right: 15px;
}

.mid
{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.info-wrapper
{
  display: flex;
  flex-direction: column;
  font-size: 3.5vmin;
}
.label
{
  color: #0098be;
  width: 100%;
}
.info
{
  width: 100%;
  color: #7aa4ae;
}
.price-wrapper
{
  flex: 1;
}
.superlike-wrapper
{
  flex: 1;
  display: flex;
  align-items: center;
}
.discount
{
  height: 65%;
  width: 50%;
  color: #ffffff;
  padding: 10px;
  font-size: 3.5vmin;
  background-color: #0098be;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.progress-text
{
  margin-left: 10px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  color: #0098be;
}

.bot
{
  width: 100%;
  display: flex;
}
.bot>.info-wrapper
{
  flex: 1;
}
