.my-container
{
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  width: 100%;
  height: 100%;
}

.num-btn
{
  width: 20%;
  color: #9b9b9b;
  font-size: 6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.num
{
  width: 60%;
  color: #0098be;
  font-size: 6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}
