.my-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 9vh;
  padding-top: 60px;
  background-color: #ffffff;
}

.grids
{
  width: 100%;
  margin-top: 50px;
  padding: 0 3vmin;
}

.grid
{
  margin: 10px 0;
  width: 100%;
  padding-top: calc(100% + 3 * 5vh - 0.7rem);
  position: relative;
}

input
{
  border: none;
  outline: none;
}

.search-group
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 60px;
}

.search-input
{
  width: 90%;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
  position: relative;
}

.search-input > input
{
  padding: 5px 10px;
  border-radius: 50px;
  width: 100%;
  background-color: #fbfbfb;
  height: 75%;
}

.my-placeholder
{
  display: flex;
  align-items: center;
  color: #749faa;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.clear
{
  position: absolute;
  color: white;
  background-color: #749faa;
  font-size: 1rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-panel
{
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: calc(8vh + 15px - 1px);
  background-color: #ffffff;
  z-index: 4;
  color: #49b0cd;
}

.backBtn-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10%;
}

.backBtn-inner
{
  width: 70%;
  position: relative;
}

@media(min-width: 576px)
{
  .backBtn-inner
  {
    width: 45%;
  }
}

.back-dummy
{
  margin-top: 100%;
}

.backBtn
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top right, #0098be, #51b5cf);
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags
{
  position: absolute;
  top: 60px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow-x: scroll;
  z-index: 3;
  background-color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tags::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tags {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* skeloton */
.sklt-grids
{
  height: 100%;
  position: relative;
}
.sklt-grids::after
{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6vmax;
  height: 6vmax;
  border: 2px solid #dedede;
  border-radius: 50%;
}

.sklt-tags
{
  position: absolute;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  overflow-x: scroll;
  z-index: 3;
}

.sklt-tag
{
  flex: 1;
  height: 100%;
  margin: 0 10px;
  background-color: #dedede;
  border-radius: 20px;
}

.loader-wrapper
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.big-post-active
{
  left: 0 !important;
  right: 0 !important;
}

.big-post
{
  position: absolute;
  top: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 100%;
  width: 100%;
  z-index: 10;
  transition: all .5s;
  background-color: #ffffff;
}

.bp-back
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8%;
  display: flex;
  align-items: center;
  z-index: 11;
  margin-top: 20px;
}

.bp-back-btn
{
  color: #ffffff;
  background-color: #97b5bd;
  width: 8%;
  max-width: 8vh;
  position: relative;
  border-radius: 50%;
  margin-left: 10px;
}

.bp-back-btn>i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bp-back-btn::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.search-result-wrapper-active
{
  left: 0 !important;
  right: 0 !important;
}

.search-result-wrapper
{
  position: absolute;
  top: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 100%;
  width: 100%;
  z-index: 12;
  transition: all .5s;
  background-color: #ffffff;
}

.search-result
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: #ffffff;
}
