.my-container
{
  width: 100%;
  height: 100%;
  background-color: #0098be;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.sr-header
{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 15px;
}

.name-wrapper
{
  color: #ffffff;
  font-size: 6.5vmin;
}

.content
{
  position: relative;
  margin-top: 10%;
  flex: 1;
}

.back-wrapper
{
  width: 8%;
  margin-right: 10px;
}
.back
{
  color: #ffffff;
  font-size: 5vmin;
  background-color: #92d3e3;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.back::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.follow-wrapper
{
  margin-left: auto;
}

.follow
{
  background-color: #ffffff;
  color: #0098be;
  font-size: 4vmin;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.following
{
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 4vmin;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unfollow>i,
.follow>i
{
  margin-right: 5px;
}

.follow-page
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.big-share-posts
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 11;
  transition: left .5s;
  background: linear-gradient(to top right, #0098be, #56b7d0);
}
.big-share-posts-active
{
  left: 0 !important;
  right: 0 !important;
}
