<div
  class="my-container"
  *ngIf="searchUser as user"
>
  <div class="sr-header">
    <div class="back-wrapper">
      <div class="back" (click)="back()">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    </div>
    <div class="name-wrapper">{{ user.role=='buyer' ? parseBuyer(user).account : parseShop(user).shopAccount }}</div>
    <div class="follow-wrapper" *ngIf="user._id!=getMyID()">
      <div class="follow" *ngIf="!(isFollow$|async)" (click)="follow()"><i class="fa-solid fa-plus"></i> Follow</div>
      <div class="following" *ngIf="(isFollow$|async)" (click)="unfollow()"> Following</div>
    </div>
  </div>
  <div class="content">
    <app-buyer-profile
      *ngIf="isInstanceOfBuyer(user)"
      [buyer]="user"
      (openSharePosts)="openSharePosts($event)"
    ></app-buyer-profile>

    <app-share-shop-profile
      *ngIf="isInstanceOfShop(user)"
      [shop]="user"
      (openBigProductPost)="openProductPosts($event)"
    ></app-share-shop-profile>
  </div>
  <div class="follow-page" *ngIf="isFollowOpen">
    <app-follow
      [userid]="user._id"
    ></app-follow>
  </div>
</div>

<div class="big-share-posts" [ngClass]="isOpenBigPosts?'big-share-posts-active':''">
  <app-share-big-posts
    *ngIf="bufferBigPosts"
    [posts]="bufferBigPosts.posts"
    [initialSlide]="bufferBigPosts.init"
    [isBackBtn]="true"
    (back)="backBigSharePosts()"
  ></app-share-big-posts>
</div>
