.my-container
{
  width: 100%;
  height: 100%;
}

.content
{
  width: 100%;
  height: 88%;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-item
{
  width: 100%;
}

.price-wrapper
{
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.price
{
  color: #0098be;
  font-size: 6vmin;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target-price
{
  color: #ffffff;
  background-color: #0098be;
  font-size: 4vmin;
  border-radius: 10px;
  padding: 2px 10px;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target-price>i
{
  margin-left: 5px;
}

.name-wrapper
{
  min-height: 10%;
  display: flex;
  align-items: center;
}

.name
{
  flex: 1;
  color: #000000;
  font-size: 4vmin;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0 0 20px;
  height: 100%;
}

.info-wrapper
{
  flex: 1;
  display: flex;
  padding-top: 15px;
  overflow-y: scroll;
}

.info-item
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a7c2c9;
  font-size: 4vmin;
}

.info-item>div
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.labels
{
  flex: 4;

}

.datas
{
  flex: 6;
}

.back-wrapper
{
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.back
{
  color: #ffffff;
  background-color: #e5e4e4;
  border-radius: 50%;
  width: 8%;
  position: relative;
}

.back>i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vmin;
}

.back::after
{
  content: '';
  display: block;
  padding-top: 100%;
}
