<div class="my-container" *ngIf="post">
  <div class="content">
    <div class="cont-item back-wrapper" *ngIf="isShowBack">
      <div class="back" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
    </div>
    <div class="cont-item price-wrapper">
      <div class="price">NT {{post.price}}</div>
      <div class="target-price">NT {{post.discount==0?post.price:post.price*post.discount | number: '.1-2' }} <i class="fa-solid fa-angle-right"></i></div>
    </div>
    <div class="cont-item name-wrapper">
      <div class="name">{{ post.name }}</div>
    </div>
    <div class="cont-item info-wrapper">
      <div class="info-item labels">
        <div *ngFor="let label of testLabels">{{label}}</div>
      </div>
      <div class="info-item datas">
        <div *ngIf="post.stock">{{post.stock}}</div>
        <div *ngIf="post.labels">{{post.labels[post.labels.length-1].display_name}}</div>
        <div *ngIf="post.rating">{{post.rating.rating_star | number: '1.1-1'}} / 5.0</div>
      </div>
    </div>
  </div>
</div>
