.my-container
{
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #0098be, #56b7d0);
  position: relative;
}

.back
{
  height: 8%;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px;
}

.icon
{
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.content
{
  width: 100%;
  height: 92%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.title
{
  color: #0098be;
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-group
{
  width: 100%;
  flex: 7;
  background-color: #fbfbfb;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-wrapper
{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 3;
}

.info-form
{
  width: 100%;
  flex: 1;
  margin: 10px 0;
  padding-bottom: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-group
{
  width: 100%;
  flex: 1;
  margin: 10px 0;
  border-radius: 20px 0 20px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.label
{
  color: #0098be;
  height: 45%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 1.3rem;
}

.label>i
{
  margin-right: 8px;
}

.input
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
  position: relative;
}

.input>input
{
  outline: none;
  border: none;
  width: 95%;
  height: 100%;
  padding: 0 20px;
  padding-bottom: 10px !important;
  font-size: 1.3rem;
  border-radius: 20px;
}

.gender
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-bottom: 10px !important;
  font-size: 1.1rem;
}

.gender>i
{
  margin-left: auto;
  font-size: 1rem;
}

.eye
{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5vmin;
  color: #0098be;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.sign-up
{
  color: #ffffff;
  background: linear-gradient(to right, #0098be, #56b7d0);
  font-size: 1.3rem;
  border-radius: 3rem;
  padding: 2rem 3rem;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}

.sign-up:disabled
{
  opacity: 0.5;
}

.sign-in-block
{
  position: relative;
  height: auto;
  padding-bottom: 50px;
  width: 100%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0098be;
}

.error
{
  color: red;
  font-size: 0.9rem;
  margin-left: auto;
}
