<div class="my-container">
  <a class="back" [routerLink]="['/login']"><i class="fa-solid fa-arrow-left"></i></a>
  <div class="content">
    <h2 class="title">Forget Password ?</h2>
    <span class="text">Enter the email to get the verification code</span>
    <form class="emailForm" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
      <div class="email-form-content">
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-envelope"></i>Email
            <span class="error" *ngIf="email?.invalid && email?.touched">email is invalid</span>
          </div>
          <div class="input"><input formControlName="email" type="email" placeholder="example@mail.com"></div>
        </div>
      </div>
      <button class="send" type="submit" [disabled]="emailForm.invalid">Send</button>
    </form>
    <div class="signup">
      Don't have an account? <a [routerLink]="['/register']"><em style="font-weight: bolder; margin-left: 10px;">Sign up</em></a>
    </div>
  </div>
</div>
