<div class="my-container">
  <div class="content">
    <div class="option-wrapper">
      <div class="option delete" (click)="doAction(action.delete)">
        <i class="fa-solid fa-trash"></i>
      </div>
      <div class="txt">Delete</div>
    </div>

    <div class="option-wrapper">
      <div class="option edit" (click)="doAction(action.edit)">
        <i class="fa-solid fa-square-pen"></i>
      </div>
      <div class="txt">Edit</div>
    </div>

  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="DELETE POST"
  (nzOnCancel)="this.isModalVisible=false"
  (nzOnOk)="deletePost()"
  nzOkText="Ok"
  nzCancelText="Cancel"
>
  <ng-container *nzModalContent>
    <div style="color: black; font-size: 4vmin;">Are you sure to delete post?</div>
  </ng-container>
</nz-modal>
