.my-container
{
  width: 100%;
  height: 100%;
}
.content
{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 10px;
}

.option-wrapper
{
  font-size: 4vmin;
  height: 100%;
  color: #0098be;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.option
{
  color: #ffffff;
  font-size: 2.5rem;
  background-color: #0098be;
  border-radius: 50%;
  aspect-ratio: 1/1;
  height: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.txt
{
  margin-top: 10px;
  height: 10%;
}
