.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #49b0cd;
}

.search-content
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.loading
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.search-autofill
{
  padding: 0 15px;
  font-size: 3.5vmin;
}
.autofill-item
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  margin: 25px 10px;
}
.autofill-item>i
{
  margin-right: 15px;
}

.search-result
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-result-topbar
{
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.srt-opt
{
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0098be;
  font-size: 4vmin;
  font-weight: 500;
  border-bottom: 1px solid #bcbcbc;
}
.srt-opt-active
{
  border-bottom: 3px solid #bbbbbb !important;
}
.search-result-content
{
  width: 100%;
  max-height: 92%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.res-post
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
.src-post
{
  width: 50%;
  padding: 15px;
}
.res-account
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.src-account
{
  position: relative;
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
}

.search-block
{
  padding: 0 20px;
  margin-top: 30px;
}

.search-opt
{
  text-align: end;
}

.search-cont
{
  display: inline-block;
  border: 1px solid #49b0cd;
  border-radius: 50px;
  padding: 1px 10px;
  margin: 10px 5px;
}


.big-post-active
{
  left: 0 !important;
  right: 0 !important;
}

.big-post
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 10;
  transition: all .5s;
  background-color: #ffffff;
}

.bp-back
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8%;
  display: flex;
  align-items: center;
  z-index: 11;
  margin-top: 20px;
}

.bp-back-btn
{
  color: #ffffff;
  background-color: #97b5bd;
  width: 8%;
  max-width: 8vh;
  position: relative;
  border-radius: 50%;
  margin-left: 10px;
}

.bp-back-btn>i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bp-back-btn::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}
