<div class="my-container">
  <div *ngIf="searchState=='ready'" class="search-content search-ready">
    <div class="search-block history" *ngIf="(getSearchHistory$|async) as history">
      <div class="search-tag his-tag">History</div>
      <div class="search-opt clear-his"><i class="fa-solid fa-trash" (click)="clearHistory()"></i></div>
      <div class="search-contents his-contents">
        <div
          class="search-cont his-cont"
          *ngFor="let keyword of history.keywords"
          (click)="searchItem(keyword.word, 'search')"
        >
          {{ keyword.word }}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="searchState=='autofill'" class="search-content search-autofill">
    <div class="autofill-item" *ngFor="let name of (autoFill$ | async)" (click)="searchItem(name, 'getSearch')">
      <i class="fa-solid fa-magnifying-glass"></i>{{ name }}
    </div>
  </div>
  <div *ngIf="searchState=='result'" class="search-content search-result">
    <div class="search-result-topbar">
      <div [ngClass]="activeBtn['item']?'srt-opt-active':''" class="srt-opt srt-item" (click)="changeMode('item')">Item</div>
      <div [ngClass]="activeBtn['account']?'srt-opt-active':''" class="srt-opt srt-account" (click)="changeMode('account')">Account</div>
    </div>
    <div
      *ngIf="(search$|async) as searchResults; else loading"
      class="search-result-content"
    >

      <div class="res-panel res-post" *ngIf="searchResults.accounts.length==0">
        <div
          class="src-post"
          *ngFor="let post of searchResults.posts"
          (click)="openPost(post)"
        >
          <app-share-share-post
            [post]="post"
          ></app-share-share-post>
        </div>
      </div>

      <div class="res-panel res-account" *ngIf="searchResults.posts.length==0">
        <div
          class="src-account"
          *ngFor="let user of searchResults.accounts"
          (click)="openUser(user)"
        >
          <app-share-buyer
            *ngIf="isInstanceOfBuyer(user)"
            [buyer]="user"
          ></app-share-buyer>
          <app-share-shop
            *ngIf="isInstanceOfShop(user)"
            [shop]="user"
          ></app-share-shop>
        </div>
      </div>

    </div>
    <ng-template
      #loading
      class="loading"
    >
      <app-entire-loader-roller
        [isLoading]="true"
      ></app-entire-loader-roller>
    </ng-template>
  </div>
</div>
