.my-container
{
  width: 100%;
  height: 100%;
}

.info
{
  width: 100%;
  height: 80%;
}

.options
{
  width: 100%;
  height: 20%;
  display: flex;
}

.option
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.shopping-cart
{
  width: 35%;
  height: 100%;
  background-color: #99d6e5;
  font-size: 4vmin;
}

.shopping-cart > i
{
  font-size: 4.5vmin;
  margin: 5px 0;
}

.buy
{
  width: 65%;
  height: 100%;
  background-color: #0098be;
  font-size: 5vmin;
  font-weight: 700;
}

.add-to-cart
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
