<div class="my-container">
  <div class="info">
    <app-share-product-info
      [post]="post"
      [isShowBack]="false"
      (closeInfo)="back()"
     ></app-share-product-info>
  </div>
  <div class="options" *ngIf="isBuyer()">
    <div class="option shopping-cart" (click)="openAddToCart()">
      <i class="fa-solid fa-cart-shopping"></i>
      Shopping Cart
    </div>
    <div class="option buy">Buy</div>
  </div>
</div>
