.mynav
{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
}

.icon-div
{
  position: relative;
}

.icon-div > a > i
{
  color: #9cd5e4;
  font-size: 6vmin;
}

.active
{
  /* on a tag */
  color: #0098be !important;
}

.active::after
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  border: 1px solid #0098be;
}

.create-post-btn
{
  color: #ffffff;
  font-size: 6vmin;
  background-color: #0098be;
  border-radius: 15px;
  height: 6vh;
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
