<div class="mynav">
  <div class="icon-div" (click)="activeIcon('shop-home')">
    <a [routerLink]="['shop-mode','shop-home']" >
      <i routerLinkActive="active" nz-icon nzType="home" [nzTheme]="activeList['shop-home']?'fill':'outline'"></i>
    </a>
  </div>
  <div class="create-post">
    <div class="create-post-btn" (click)="createPost()">
      <i class="fa-solid fa-plus"></i>
    </div>
  </div>
  <div class="icon-div" (click)="activeIcon('shop-profile')">
    <a [routerLink]="['shop-mode', 'shop-profile']" >
      <i routerLinkActive="active" nz-icon nzType="user" nzTheme="outline"></i>
    </a>
  </div>
</div>
