.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top right, #0098be, #56b7d0);
}

.logo-wrapper
{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo
{
  height: 70%;
  aspect-ratio: 1/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text
{
  color: #0098be;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

form
{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  align-items: center;
  margin-bottom: 20px;
}

.my-input-group
{
  height: 42%;
  width: 100%;
  background-color: #fbfbfb;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  flex-direction: column;
}

.input-item
{
  background-color: #ffffff;
  flex: 1;
  margin: 10px 0;
  border-radius: 20px 0;
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.lab
{
  color: #0098be;
  display: flex;
  align-items: center;
  font-size: 4.3vmin;
}

.lab>i
{
  margin-right: 5px;
}

.input-item > input,
.input-item > .pass-input > input
{
  outline: none;
  border: none;
  flex: 1;
  padding: 5px 0;
  font-size: 4.5vmin;
  width: 100%;
  height: 100%;
}

.pass-input
{
  flex: 1;
}

.pass-input
{
  position: relative;
}

.eye
{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5vmin;
  color: #0098be;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  color: #0098be;
  font-size: 3vmin;
}

.submit-wrapper
{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.login
{
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #0098be, #56b7d0);
  color: #ffffff;
  padding: 20px 50px;
  border-radius: 50px;
  border: none;
}

.login:disabled
{
  opacity: 0.5;
}

.signup
{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  color: #0098be;
  font-size: 1rem;
}

.error
{
  color: red;
  font-size: 0.9rem;
  margin-left: auto;
}

.or-line
{
  color: #0098be;
  font-size: 4vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.or-line::before
{
  content: '';
  width: 15vw;
  height: 2px;
  display: block;
  background-color: rgb(210 210 210);
  margin-right: 10px;
}
.or-line::after
{
  content: '';
  width: 15vw;
  height: 2px;
  display: block;
  background-color: rgb(210 210 210);
  margin-left: 10px;
}

.social-login
{
  margin: 15px 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook
{
  border: none;
  background: none;
  color: #3364a2;
  font-size: 8vmin;
}
