<div class="my-container">
  <div class="logo-wrapper">
    <div class="logo" style="background-image: url('assets/images/Logo1.png');"></div>
  </div>
  <div class="content">
    <div class="text">start explore</div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="my-input-group">
        <div class="input-item email">
          <div class="lab">
            <i nz-icon nzType="mail" nzTheme="outline"></i>
            Email
            <div class="error" *ngIf="email?.invalid && email?.touched">email is invalid</div>
          </div>
          <input formControlName="email" type="email">
        </div>
        <div class="input-item password">
          <div class="lab">
            <i nz-icon nzType="lock" nzTheme="outline"></i>
            Password
            <div class="error" *ngIf="password?.invalid && password?.touched">password is invalid</div>
          </div>
          <div class="pass-input">
            <input formControlName="password" [type]="isSeePassword ? 'text' : 'password'">
            <div class="eye" (click)="seePassword()"><i nz-icon [nzType]="isSeePassword ? 'eye' : 'eye-invisible'" nzTheme="outline"></i></div>
          </div>
        </div>
      </div>
      <a class="forget" [routerLink]="['/enter-email']">Forget Password</a>
      <div class="submit-wrapper">
        <button type="submit" [disabled]="loginForm.invalid" class="login" >LOG IN</button>
      </div>
      <div class="signup">
        Don't have an account? <em style="font-weight: bolder; margin-left: 10px;" (click)="switchToSignUp()">Sign up</em>
      </div>
      <div class="or-line">Or</div>
      <div class="social-login">
        <button type="button" (click)="loginWithFacebook()" class="facebook"><i class="fa-brands fa-facebook"></i></button>
      </div>
    </form>
  </div>
</div>
