<div class="my-container">
  <swiper
    #swiper
    [config]="config"
    (slideChange)="onSlideChange($event)"
  >
    <ng-template
      *ngFor="let post of parseTwoTypePosts(posts)"
      swiperSlide
      class="my-slide"
    >
      <app-share-big-post
        [isBackButton]="isBackBtn"
        [post]="post"
        (back)="back()"
      ></app-share-big-post>
    </ng-template>
  </swiper>
</div>
