<div class="my-container" [ngClass]="isUpdatePostMode?'edit-mode-container':''">
  <div class="header" *ngIf="!isUpdatePostMode">
    <div class="back" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
  </div>
  <div class="content" [ngClass]="isUpdatePostMode?'edit-mode-container':''">
    <!-- form -->
    <div
      class="form"
    >
      <form [formGroup]="postForm" (ngSubmit)="upload()">

        <div class="my-input-group pics">
          <!-- create mode -->
          <label class="pic-block">
            <input
              *ngIf="!isUpdatePostMode"
              style="display: none;"
              type="file"
              multiple
              accept=".jpg,.png,.jpeg"
              class="upload-img"
              (change)="onFileSelect($event)"
            >

            <i *ngIf="!isUpdatePostMode && selectedImages.length<=0" class="fa-solid fa-plus"></i>
            <div
              *ngIf="isUpdatePostMode || selectedImages.length>0"
              class="first-image"
              [ngStyle]="{
                'background-image': 'url('+firstImage+')'
              }"
            ></div>

          </label>

        </div>

        <div class="my-input-group name">
          <div class="label">
            <strong>Name</strong>
            <div
              class="text-num"
              [ngClass]="name?.value.length>60?'text-num-exceed':''"
            >{{name?.value.length}}/60</div>
          </div>
          <div class="input">
            <input type="text" formControlName="name">
          </div>
        </div>

        <div class="my-input-group caption">
          <div class="label">
            <strong>Write Caption...</strong>
            <div
              [ngClass]="caption?.value.length>300?'text-num-exceed':''"
              class="text-num"
            >{{caption?.value.length}}/300</div>
          </div>
          <div class="input">
            <textarea cols="30" rows="5" formControlName="caption"></textarea>
          </div>
        </div>

        <div class="more-info-btn price">
          <strong class="text">Price</strong>
          <div class="more-info-num">NT <nz-input-number formControlName="price" [nzMin]="1" [nzStep]="1"></nz-input-number></div>
        </div>

        <div class="more-info-btn select-labels" (click)="openSelectLabels()">
          <strong class="text">Labels</strong>
          <div class="arrow"><i class="fa-solid fa-chevron-right"></i></div>
        </div>

        <div class="more-info-btn stock">
          <strong class="text">Stock</strong>
          <div class="more-info-num"><div class="more-info-num"><nz-input-number formControlName="stock" [nzMin]="1" [nzStep]="1"></nz-input-number></div></div>
        </div>

        <div class="more-info-btn trans-fee">
          <strong class="text">Transport fees</strong>
          <div class="more-info-num">NT 0</div>
        </div>

        <button type="submit" class="upload">{{ isUpdatePostMode ? 'Confirm' : 'Upload'}}</button>
      </form>
    </div>
  </div>

    <!-- select labels -->
    <div
      *ngIf="isOpenSelectLabels"
      class="select-labels"
    >
      <app-select-labels
        (back)="closeSelectLabels()"
        (confirm)="confirmLabel($event)"
      ></app-select-labels>
    </div>
</div>
