.my-container
{
  background: linear-gradient(to top right, #0098be, #56b7d0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 0;
  display: flex;
  flex-direction: column;
}

input,
textarea
{
  border: none;
  outline: none;
}

.header
{
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.back
{
  max-height: 80%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  color: #ffffff;
  font-size: 3.5vmin;
  background-color: #8cd0e1;
}

.content
{
  height: 93%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
}

.form
{
  width: 100%;
}
.form>form
{
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-input-group
{
  width: 95%;
  padding: 10px 0;
  border-bottom: 1px solid #d7d7d7;
  display: flex;
}

.pic-block
{
  min-width: 30%;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0098be;
  font-size: 17vmin;
  border: 2px solid #0098be;
  border-radius: 15px;
  margin: 10px 10px;
}

.first-image
{
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.name
{
  flex-direction: column;
}
.label
{
  color: #0098be;
  font-size: 4vmin;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.text-num
{
  margin-left: auto;
  display: inline-block;
}
.text-num-exceed
{
  color: red;
}
.input
{
  font-size: 4vmin;
  color: #000000;
  max-height: 85%;
}
.input>input
{
  width: 100%;
  height: 95%;
  padding: 5px 15px;
}

.caption
{
  flex-direction: column;
}
.caption>.input>textarea
{
  width: 100%;
  height: 100%;
  padding: 5px 15px;
}

.more-info-btn
{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.more-info-btn>.text
{
  color: #0098be;
  font-size: 4vmin;
}
.select-labels>.arrow
{
  color: #59bcd5;
  font-size: 4vmin;
  margin-left: auto;
}
.more-info-btn > .more-info-num
{
  color: #59bcd5;
  font-size: 4vmin;
  margin-left: auto;
}

.upload
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 90%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 4vmin;
  background-color: #0098be;
  padding: 10px;

  margin: 40px 0 10px 0;
}

.edit-mode-container
{
  background: none !important;
  bottom: 0 !important;
}
.edit-mode-content
{
  height: 100% !important;
}
