.my-container
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content
{
  width: 100%;
  height: 88%;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
}

.cont-item
{
  width: 100%;
}

.back-wrapper
{
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  position: absolute;
  z-index: 11;
}

.back
{
  color: #ffffff;
  background-color: #e5e4e4;
  border-radius: 50%;
  width: 8%;
  position: relative;
}

.back>i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vmin;
}

.back::after
{
  content: '';
  display: block;
  padding-top: 100%;
}

.price-wrapper
{
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.price
{
  color: #0098be;
  font-size: 6vmin;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target-price
{
  color: #ffffff;
  background-color: #0098be;
  font-size: 4vmin;
  border-radius: 10px;
  padding: 2px 10px;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.target-price>i
{
  margin-left: 5px;
}

.name-wrapper
{
  min-height: 10%;
  display: flex;
  align-items: center;
}

.name
{
  flex: 1;
  color: #000000;
  font-size: 4vmin;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0 0 20px;
  height: 100%;
}

.info-wrapper
{
  flex: 1;
  display: flex;
  padding-top: 15px;
  overflow-y: scroll;
  position: relative;
}

.info-item
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a7c2c9;
  font-size: 4vmin;
}

.info-item>div
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

.labels
{
  flex: 4;

}

.datas
{
  flex: 6;
}

.info
{
  width: 100%;
  height: 88%;
  position: relative;
}

.options
{
  width: 100%;
  height: 12%;
  border-radius: 0 0 10px 10px;
  background-color: #c3c3c3;
  display: flex;
  align-items: center;
}

.opt-item
{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 7vmin;
  padding: 10px;
}

.info-btn
{
  border-radius: 10px 0 0 0;
}

.share-btn,
.comment-btn
{
  background-color: #e2e2e2;
}

.cart-btn
{
  padding: 10px 30px !important;
  background-color: #0098be;
  border-radius: 0 0 10px 0;
}

.content
{
  width: 100%;
  height: 90%;
}

.back-wrapper
{
  width: 100%;
  height: 10%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.back
{
  border-radius: 50%;
  width: 3.5vh;
  color: #ffffff;
  background-color: #93d4e3;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  padding: 3vmin;
}

::ng-deep .mask
{
  border-radius: 10px 10px 0 0;
}

.comments > ::ng-deep .my-container
{
  padding-top: 7vh;
}

.shared > ::ng-deep .my-container
{
  padding-top: 7vh;
}
