<div class="my-container" *ngIf="post">
  <div class="info">
    <div class="back-wrapper">
      <div class="back" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
    </div>
    <div class="content">
      <!-- product-info -->
      <app-share-product-info
        *ngIf="currentType===contentType.productInfo || (previousType===contentType.productInfo&&currentType===contentType.shopCart)"
        [post]="post"
        [isShowBack]="false"
        style="height: 100%; width: 100%;"
      ></app-share-product-info>

      <!-- comments -->
      <app-comment
        *ngIf="currentType===contentType.comments || (previousType===contentType.comments&&currentType===contentType.shopCart)"
        [post]="post"
        class="comments"
      ></app-comment>

      <!-- share-post -->
      <app-shared
        *ngIf="currentType===contentType.sharePosts || (previousType===contentType.sharePosts&&currentType===contentType.shopCart)"
        [post]="post"
        class="shared"
      ></app-shared>

      <!-- shop-cart -->
      <app-add-to-cart
        *ngIf="currentType===contentType.shopCart"
        [post]="post"
        style="position: absolute; top:0; right:0; bottom:0; left:0; z-index: 12;"
      ></app-add-to-cart>

    </div>
  </div>
  <div class="options">
    <div class="opt-item info-btn" (click)="switchContent(contentType.productInfo)"><i class="fa-solid fa-circle-info"></i></div>
    <div class="opt-item comment-btn" (click)="switchContent(contentType.comments)"><i class="fa-solid fa-comment"></i></div>
    <div class="opt-item share-btn" (click)="switchContent(contentType.sharePosts)"><i class="fa-solid fa-share-from-square"></i></div>
    <div class="opt-item cart-btn" (click)="switchContent(contentType.shopCart)"><i class="fa-solid fa-cart-shopping"></i></div>
  </div>
</div>
