<div class="my-container">
  <div class="content" *ngIf=" selectedItem && boughtItems as items">
    <div class="big-photo-wrapper">
      <div class="text">Choose the product you have bought!</div>
      <div
        class="big-photo"
        [ngStyle]="{
          'background-image': 'url('+selectedItem.images[0]+')'
        }"
      ></div>
    </div>
    <div class="bought-items-wrapper">
      <div
        class="item"
        *ngFor="let item of items;"
        (click)="selectItem(item)"
      >
        <div
          [ngStyle]="{
           'background-image': 'url('+item.images[0]+')'
          }"
          class="item-image"
        ></div>
        <div *ngIf="selectedItem._id===item._id" class="item-mask"></div>
      </div>
    </div>
    <div class="upload-wrapper">
      <label class="upload">
        <input
          style="display: none;"
          type="file"
          multiple
          accept=".jpg,.png,.jpeg,.mp4,.mov,.wmv"
          class="upload-img"
          (change)="onFileSelect($event)"
        >
      </label>
    </div>
  </div>
</div>
