.my-container
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content
{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
}

.big-photo-wrapper
{
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bought-items-wrapper
{
  width: 100%;
  flex: 1;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.upload-wrapper
{
  width: 100%;
  height: 6%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.upload
{
  max-height: 100%;
  width: 20%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../../assets/images/photo-svgrepo-com.png');
}

.item
{
  height: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.item-image
{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.item-mask
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: #000000;
  opacity: 0.5;
}

.text
{
  color: #0098be;
  font-size: 4vmin;
}
.big-photo
{
  flex: 1;
  width: 80%;
  max-height: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.component
{
  display: none;
}
