<div class="my-container" *ngIf="!isSorting">
  <div
    [ngStyle]="{
      'grid-template-rows': 'repeat(3, minmax(18vh, 32%))'
    }"
    class="inner-grid"
  >
    <div class="treemap"
      *ngFor="let post of posts; let i=index"
      [ngClass]="{
        'great-recommend-odd':  posts && posts.length>=4 && i==0 && evenOrOdd%2!=0,
        'great-recommend-even':  posts && posts.length>=3 && i==0 && evenOrOdd%2==0
      }"
    >
      <app-share-post
        [post]="post"
        [isGreatest]="i==0"
        (click)="clickPost(post)"
      ></app-share-post>
    </div>
  </div>
</div>
