.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.inner-grid
{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(3, 30vw);
  width: 100%;
  height: 100%;
  grid-gap: 0.7rem;
  gap: 0.7rem;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
}

.great-recommend-odd
{
  grid-row: 2/4;
  grid-column: 1/3;
}

.great-recommend-even
{
  grid-row: 1/3;
  grid-column: 2/4;
}

.treemap
{
  height: 100%;
  border-radius: 20px;
  box-shadow: 1.5px 1.5px 3px 0;
}
