.layout
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top right, #0098be, #56b7d0);
  overflow: hidden;
}

.mynav
{
  position: absolute;
  bottom: 0;
  height: calc(8vh + 15px);
  width: 100vw;
  z-index: 2;
}

.mycontent
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
