<div class="layout">
  <div
    class="mycontent"
    [ngStyle]="{
      'z-index': isFullPage?'3':'2'
    }"
  >
    <router-outlet></router-outlet>
  </div>
  <div class="mynav">
    <app-navbar *ngIf="accountState.buyer"></app-navbar>
    <app-shop-navbar *ngIf="accountState.shop"></app-shop-navbar>
  </div>
</div>

