<div class="my-container">
  <div class="content">

    <div
      class="switch-account"
    >
      <div class="user-option normal-user">
        <label nz-checkbox [(ngModel)]="buyerCheck" (ngModelChange)="checkBuyerRole()"></label>
        <div class="text">Normal User</div>
        <div class="icon">
          <img src="assets/images/normal-user.svg">
        </div>
      </div>
      <div class="user-option become a seller">
        <label nz-checkbox [(ngModel)]="sellerCheck" (ngModelChange)="checkSellerRole()"></label>
        <div class="text">Become a seller</div>
        <div class="icon">
          <img src="assets/images/seller.svg">
        </div>
      </div>
    </div>

    <div
      *ngIf="isOpenSellerRegistration && accountState.buyer"
      class="seller-registration"
    >
      <app-seller-registration
        (back)="backSellerRegistration()"
        (switchAccount)="handleDoneRegister($event)"
      ></app-seller-registration>
    </div>

  </div>
</div>
