.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.switch-account
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  overflow-y: scroll;
  border-radius: 20px;
}
.seller-registration
{
  width: 100%;
  height: 100%;
}

.user-option
{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fbfbfb;
  color: #0098be;
  font-size: 4vmin;
  margin: 20px 0;
  padding: 15px 10px;
  flex: 1;
  aspect-ratio: 1/1;
  max-width: 70%;
}

.text
{
  margin: 10px 0;
}

.icon
{
  flex: 1;
  width: 60%;
  aspect-ratio: 1/1;
}
.icon>img
{
  width: 100%;
  height: 100%;
  filter: invert(51%) sepia(49%) saturate(5565%) hue-rotate(162deg) brightness(91%) contrast(104%);
}

::ng-deep .ant-checkbox,
::ng-deep .ant-checkbox-checked
{
  transform: scale(1.5);
}

::ng-deep .ant-checkbox-inner,
::ng-deep .ant-checkbox-checked::after
{
  border-radius: 50%;
}
