<div
  class="my-container"
  [ngStyle]="{
    'background': (isLoading?'#ffffff':'linear-gradient(to bottom, #ffffff, #eeeeee)')
  }"
>
  <div *ngIf="!isLoading" class="header">
    <div class="logo" style="background-image: url('assets/images/Logo.png');"></div>
    <div class="header-opt history-btn" (click)="showHistory()"><i class="fa-solid fa-clock-rotate-left"></i></div>
    <div class="header-opt notification"><i class="fa-solid fa-bell"></i></div>
    <div class="header-opt super-get">

    </div>
  </div>
  <div *ngIf="isLoading" class="header-skeleton">
    <div class="hs" *ngFor="let i of [1,2]"></div>
  </div>

  <div #cardcontent class="card-content">
      <div *ngFor="let post of cardsInfo">
        <app-tinder-card
          [post]="post"
          *ngIf="!isLoading"
          [isDragable]="post === cardsInfo[top]"
        ></app-tinder-card>
      </div>
  </div>

  <!-- should be a component -->
  <div
      class="history"
      *ngIf="isHistoryOpen"
    >
      <div class="his-block">
        <div class="his-header">
          <div [ngClass]="dislikeHis?'dislike-active':''" class="his-option his-dislike" (click)="changeHistoryMode('dislike')"><i class="fa-solid fa-xmark"></i></div>
          <div [ngClass]="superlikeHis?'superlike-active':''" class="his-option his-superlike" (click)="changeHistoryMode('superlike')"><i class="fa-regular fa-star"></i></div>
          <div [ngClass]="likeHis?'like-active':''" class="his-option his-like" (click)="changeHistoryMode('like')"><i class="fa-solid fa-heart"></i></div>
        </div>
        <div class="his-content">
          <div
            *ngFor="let item of hisList"
            [ngClass]="{
              'his-item': item.like!='superlike',
              'his-super-item': item.like=='superlike'
            }"
          >
            <div class="his-normal-item-content" *ngIf="item.like!='superlike'">
              <div class="his-pic" (click)="popupInfo(item.post)">
                <img [src]="imgBaseURL+item.post.images[0]" alt="no-pic">
              </div>
              <div class="his-name">{{ item.post.name }}</div>
              <div class="switch"><nz-switch [ngModel]="item.like=='like'" (ngModelChange)="resetHisList(item)"></nz-switch></div>
            </div>

            <div class="his-super-item-content" *ngIf="item.like=='superlike'" (click)="popupInfo(item.post)">
              <div class="his-super-pic">
                <img [src]="imgBaseURL+item.post.images[0]" alt="no-pic">
              </div>
              <div class="his-super-info">
                <div class="his-super-info-item">
                  <div class="his-super-name">{{ item.post.name }}</div>
                </div>
                <div class="his-super-info-item target">
                  <div class="his-super-icon-title"><img class="his-super-icon" src="assets/images/target.svg">Target</div>
                  <div class="his-super-text">10% discount</div>
                </div>
                <div class="his-super-info-item completeness">
                  <div class="his-super-icon-title"><img class="his-super-icon" src="assets/images/completeness.svg">Completeness</div>
                  <div class="his-super-text">8/10</div>
                </div>
                <div class="his-super-info-item time-left">
                  <div class="his-super-icon-title"><img class="his-super-icon" src="assets/images/time-left.svg">Time left</div>
                  <div class="his-super-text">03:10</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="info" *ngIf="isInfoPopup">
    <app-product-info
      [post]="popupPost"
      (closeInfo)="closeInfo()"
    ></app-product-info>
  </div>
</div>
