.my-container
{
  height: 100%;
  overflow: hidden;
}

.header
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
  padding: 5px 15px;
  position: relative;
  z-index: 6;
}
.header-skeleton
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: flex-end;
  padding: 5px 15px;
  position: relative;
  z-index: 7;
}

.header-opt
{
  color: #0098be;
  font-size: 7vmin;
  margin: 0 3%;
}
.hs
{
  background-color: #dedede;
  height: 50%;
  width: 15%;
  border-radius: 15px;
  margin: 0 15px;
}
.super-get
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../../assets/images/super.png');
  width: 9%;
  max-width: 9vh;
}
.super-get::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card-content
{
  position: absolute;
  right: 10px;
  left: 10px;
  top: 10%;
  bottom: calc( 8vh + 15px +  20px );
}

.swipe-out-right
{
  transition: all 1s;
  left: 500px !important;
  transform: rotateZ(30deg) !important;
  opacity: 0 !important;
}

.swipe-out-left
{
  transition: all 1s;
  left: -500px !important;
  transform: rotateZ(-30deg) !important;
  opacity: 0 !important;
}

.history
{
  position: absolute;
  background-color: #fbfbfb;
  top: 0;
  right: 0;
  bottom: 8vh;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.his-block
{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 95%;
  height: 85%;
  border-radius: 20px;
  margin-top: 10vh;
}

.his-header
{
  display: flex;
  height: 13%;
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid #f2f2f2;
}

.his-option
{
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;
}

.his-like
{
  color: #e5bb27;
}

.like-active
{
  border-bottom: 2px solid #e5bb27;
}

.his-dislike
{
  color: #fe5353;
}

.dislike-active
{
  border-bottom: 2px solid #fe5353;
}

.his-superlike
{
  color: #0098be;
}

.superlike-active
{
  border-bottom: 2px solid #0098be;
}

.his-content
{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 20px;
  padding: 10px 0;
}

.his-item
{
  height: 15%;
  margin: 10px 5px;
}

.his-super-item
{
  height: 23%;
  background-color: #e8e8e8;
  border-radius: 20px;
  margin: 5px 0;
}

.his-normal-item-content
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.his-super-item-content
{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.his-name
{
  flex: 8;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #0098be;
  padding-left: 15px;
}

.his-pic
{
  width: 20%;
  border-radius: 10px;
  background-color: #0098be;
  position: relative;
}

.his-pic > img
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  border-radius: 50%;
}

.his-super-pic
{
  position: relative;
  flex: 2;
}
.his-super-pic > img
{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0 #ababab;
}

.his-super-pic::after,
.his-pic::after
{
  content: '';
  display: block;
  padding-top: 100%;
}

.his-super-info
{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 5px 20px;
  color: #0098be;
}

.his-super-info-item
{
  flex: 1;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  font-size: 3vmin;
  margin: 5px 0;
}

.his-super-name
{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.his-super-icon-title
{
  width: 50%;
}

.his-super-icon
{
  filter: invert(42%) sepia(51%) saturate(4755%) hue-rotate(166deg) brightness(97%) contrast(101%);
  width: 12%;
  margin: 0 5px;
}

.his-super-text
{
  flex: 1;
  text-align: center;
}

.info
{
  z-index: 10;
  position: absolute;
  right: 10px;
  left: 10px;
  top: 10%;
  bottom: calc( 8vh + 20px );
}

.logo
{
  height: 100%;
  aspect-ratio: 1.5/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: auto;
}
