.my-container
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.mask
{
  width: 100%;
  flex: 1;
  background-color: black;
  opacity: 0.6;
}

.ammount-wrapper
{
  width: 100%;
  height: 12%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.am-txt
{
  font-size: 5vmin;
  color: #0098be;
  margin: 0 20px;
}

.ammount-btn
{
  margin-left: auto !important;
  margin-right: 20px;
  width: 25%;
  height: 55%;
}

.num-btn
{
  width: 20%;
  color: #9b9b9b;
  font-size: 6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.num
{
  width: 60%;
  color: #0098be;
  font-size: 6vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn
{
  width: 100%;
  height: 10%;
  background-color: #0098be;
  color: #ffffff;
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-btn>i
{
  margin: 0 15px;
}
