<div class="my-container">
  <div class="mask" (click)="back()"></div>
  <div class="ammount-wrapper">
    <div class="am-txt">Ammount</div>
    <div class="ammount-btn">
      <app-num-button #numBtn></app-num-button>
    </div>
  </div>
  <div class="add-btn" (click)="addToCart()">
    <i class="fa-solid fa-cart-shopping"></i>
    Add to Cart
  </div>
</div>
