<div class="my-container">
  <a class="back" [routerLink]="['/verify-code']" [queryParams]="{email: email}"><i class="fa-solid fa-arrow-left"></i></a>
  <div class="content">
    <h2 class="title">Reset Password ?</h2>
    <span class="text">Enter the new password</span>
    <form class="passwordForm" [formGroup]="passwordForm" (ngSubmit)="sendResetPassword()">
      <div class="password-form-content">
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-lock"></i>New Password
            <span class="error" *ngIf="newPassword?.invalid && newPassword?.touched">at least 6 character</span>
          </div>
          <div class="input">
            <input formControlName="newPassword" [type]="isSeeNewPassword ? 'text' : 'password'" placeholder="******">
            <div class="eye" (click)="seePassword('new')"><i nz-icon [nzType]="isSeeNewPassword ? 'eye' : 'eye-invisible'" nzTheme="outline"></i></div>
          </div>
        </div>
        <div class="input-group">
          <div class="label">
            <i class="fa-solid fa-lock"></i>Confirm Password
            <span class="error" *ngIf="passwordForm.invalid && confirmPassword?.touched">not matched</span>
          </div>
          <div class="input">
            <input formControlName="confirmPassword" [type]="isSeeConfirmPassword ? 'text' : 'password'" placeholder="******">
            <div class="eye" (click)="seePassword('confirm')"><i nz-icon [nzType]="isSeeConfirmPassword ? 'eye' : 'eye-invisible'" nzTheme="outline"></i></div>
          </div>
        </div>
      </div>
      <button class="send" type="submit" [disabled]="passwordForm.invalid">Send</button>
    </form>
  </div>
</div>
