<div class="my-container" *ngIf="comment">
  <div class="pic-wrapper">
    <div
      class="pic"
      [ngStyle]="{
        'background-image': 'url('+comment.profilePic+')'
      }"
    ></div>
  </div>
  <div class="info-wrapper">
    <div class="name">{{ comment.account }}</div>
    <div class="comment">{{ comment.comment }}</div>
    <div class="time-reply">
      <div class="time" *ngIf="comment?.createdAt as time">{{ time | commentTime }}</div>
      <div class="reply" style="font-weight: 700;">Rply</div>
    </div>
  </div>
  <div class="like-wrapper">
    <div class="heart"><i nz-icon nzType="heart" [nzTheme]="comment.isLiked?'fill':'outline'" (click)="like()"></i></div>
    <div class="like-count" style="color: #f61313;">{{ comment.likeCount }}</div>
  </div>
</div>
