.my-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.pic-wrapper
{
  height: 100%;
  width: 15%;
}

.pic
{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 100%;
}
.pic::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.info-wrapper
{
  height: 100%;
  width: 75%;
  padding: 7px 10px;
  font-size: 3.5vmin;
}

.name
{
  font-size: 4vmin !important;
  color: #0098be;
}

.comment
{
  color: #79a2ad;
}

.time-reply
{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0098be;
}

.like-wrapper
{
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
  color: #f61313;
}
