.my-container
{
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 10px;
}

.check
{
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.content
{
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 10px 10px;
}

.info
{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

.pic-wrapper
{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic
{
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 100%;
  box-shadow: 2px 1px 5px 0px #b3b3b3;
}

.name-wrapper
{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5px 0 10px;
}

.item-name
{
  color: black;
  font-weight: 700;
  font-size: 5vmin;
  max-width: 100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shop-name
{
  color: #646464;
  font-size: 4vmin;
  max-width: 100%;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actions
{
  width: 100%;
  display: flex;
  align-items: center;
}

.price
{
  color: #749faa;
  font-size: 3.5vmin;
  margin: 0 5px;
}

.discounted-price
{
  font-size: 3.5vmin;
  background-color: #0098be;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 8px;
  margin: 0 5px;
}

.num-btn
{
  margin-left: auto;
  margin-right: 20px;
  height: 100%;
}

.extra
{
  width: 100%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.super-extra
{
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/images/super-background.png');
  width: 20%;
}
.super-extra::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.transport
{
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/images/transport-svgrepo-com.png');
  width: 20%;
  aspect-ratio: 41/26;
  margin-left: auto;
}

::ng-deep .ant-checkbox,
::ng-deep .ant-checkbox-checked
{
  transform: scale(1.5);
}

::ng-deep .ant-checkbox-inner,
::ng-deep .ant-checkbox-checked::after
{
  border-radius: 50%;
}
