<div class="my-container" *ngIf="cartItem">
  <div class="check">
    <label nz-checkbox [(ngModel)]="checked" (ngModelChange)="handleCheck()"></label>
  </div>
  <div class="content">
    <div class="info">
      <div class="pic-wrapper">
        <div class="pic" [ngStyle]="{
          'background-image': 'url('+imgBase+cartItem.item.images[0]+')'
        }"></div>
      </div>
      <div class="name-wrapper">
        <div class="item-name">{{ cartItem.item.name }}</div>
        <div class="shop-name">{{ cartItem.item.shopAccount }}</div>
      </div>
    </div>
    <div class="actions">
      <div class="price">NT {{ cartItem.item.price }}</div>
      <div class="discounted-price">NT {{cartItem.item.discount==0?cartItem.item.price:cartItem.item.price*cartItem.item.discount | number: '.1-2' }} </div>
      <div class="num-btn">
        <app-num-button
          #numBtn
          (add)="handleAdd($event)"
          (mius)="handleReduce($event)"
        ></app-num-button>
      </div>
    </div>
    <div class="extra">
      <div class="super-extra"></div>
      <div class="transport"></div>
    </div>
  </div>
</div>
