<div class="my-container" *ngIf="post">
  <div class="mask-top"></div>
  <div [ngClass]="{'mask-up': isMoreText}" class="mask-bottom"></div>
  <div class="bp-back" *ngIf="isBackBtn">
    <div class="bp-back-btn" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
  </div>

  <!-- for buyer mode -->
  <div *ngIf="accountState.buyer" class="option-group">
    <div class="option like">
      <i
        [ngStyle]="{'color': iconState['like']?'#f61313':'#ffffff'}"
        class="fa-solid fa-heart"
        (click)="changeMode('like')"
        (click)="likeAction()"
      ></i>
      <div class="num">{{ likeCount$ | async }}</div>
    </div>
    <div class="option comments">
      <i class="fa-solid fa-comment" (click)="changeMode('comment')"></i>
      <div class="num">{{ getCommentCount$ | async }}</div>
    </div>
    <div class="option shop">
      <i class="fa-solid fa-bag-shopping" (click)="changeMode('shop')"></i>
    </div>
    <div class="option edit" *ngIf="isSharePost(post) && post.buyerid==myBuyerid" style="margin-top: 10px;">
      <i class="fa-solid fa-ellipsis" (click)="changeMode('edit-post')"></i>
    </div>
  </div>

  <!-- for shop mode -->
  <div *ngIf="accountState.shop" class="option-group">
    <div class="option shared" style="margin: 15px 0" (click)="changeMode('comment')">
      <i class="fa-solid fa-user-group"></i>
    </div>
    <div class="option shop" style="margin: 15px 0" (click)="changeMode('shop')">
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>

  <div class="prev" (click)="prevImg()"></div>
  <div class="next" (click)="nextImg()"></div>
  <div class="carousel">
    <nz-carousel #carousel [nzEnableSwipe]="false" [nzDotPosition]="'top'">
      <!-- sharePost first item image -->
      <div nz-carousel-content *ngIf="isSharePost(post) && productPostOfSharePost">
        <div appImgload (imageLoaded)="imgLoaded()" class="pic"
          *ngIf="productPostOfSharePost.images[0] as img"
          [ngStyle]="{
            'background-image': img.startsWith('http')||img.startsWith('https') ? 'url('+img+')' : 'url('+(imgBase+img)+')'
          }"
        ></div>
      </div>
      <!-- post images -->
      <div nz-carousel-content *ngFor="let img of post.images">
        <div appImgload (imageLoaded)="imgLoaded()" class="pic"
          [ngStyle]="{
            'background-image': img.startsWith('http')||img.startsWith('https') ? 'url('+img+')' : 'url('+(imgBase+img)+')'
          }"
        ></div>
      </div>
    </nz-carousel>
  </div>

  <div class="info-group">
    <!-- ProductPost -->
    <div class="user-info" *ngIf="isProductPost(post) && (shop$|async) as shop">
      <div class="user-pic"
        [ngStyle]="{
          'background-image': !shop.profilePic.startsWith('http') ? 'url('+imgBase+shop.profilePic+')' : 'url('+shop.profilePic+')'
        }"
      ></div>
      <div class="user-name">{{ shop.shopAccount }}</div>
    </div>
    <!-- SharePost -->
    <div class="user-info" *ngIf="isSharePost(post) && (buyer$|async) as buyer">
      <div class="user-pic"
        [ngStyle]="{
          'background-image': 'url('+buyer.profilePic+')'
        }"
      ></div>
      <div class="user-name">{{ buyer.account }}</div>
    </div>

    <div class="description-wrapper">
      <div class="prod-name">{{ post.name }}</div>
      <div
        appMoreContent
        class="description"
        [text]="post.content"
        (moreText)="moreText($event)"
      >
        {{ post.content.substring(0,20) }}
      </div>
    </div>

    <!-- ProductPost -->
    <div class="tags" *ngIf="isProductPost(post)">
      <div *ngFor="let label of post.labels" class="tag">
        #{{ label.display_name }}
      </div>
    </div>

    <!-- SharePost -->
    <div class="tags" *ngIf="isSharePost(post)">
      <div *ngFor="let label of productPostOfSharePost?.labels" class="tag">
        #{{ label.display_name }}
      </div>
    </div>

    <div class="time">
      {{ post.createdAt.substring(0, 10) }}
    </div>
  </div>

  <div
    class="action-panel"
    *ngIf="iconState['comment'] || iconState['shop'] || iconState['edit-post']"
    [ngStyle]="{
      'height': iconState['comment'] ? '87%' :
      iconState['shop'] ? '60%' :
      iconState['edit-post'] ? '30%' : ''
    }"
  >
    <app-action-panel
      [actionType]="
        iconState['comment']?'comment':
        iconState['shop']?'shop':
        iconState['edit-post']?'edit-post':''
      "
      [post]="post"
      [productPostOfSharePost]="isSharePost(post)?productPostOfSharePost:undefined"
      (close)="closeActionPanel($event)"
    ></app-action-panel>
  </div>

</div>

<div *ngIf="!isImgLoaded" class="skeleton">
  <div class="sk-info">
    <div class="sk-item">
      <div class="sk-pic"></div>
      <div class="sk-line sk-fir-line"></div>
      <div class="sk-line sk-sec-line"></div>
      <div class="sk-line sk-thi-line"></div>
    </div>
  </div>
</div>

<div class="add-to-cart" *ngIf="isAddToCartOpened && post">
  <app-add-to-cart
    [post]="isProductPost(post)?post:productPostOfSharePost"
  ></app-add-to-cart>
</div>

<div
  class="shared-post"
  [ngClass]="isOpenBigSharePost ? 'shared-post-active' : ''"
>
  <app-share-big-post
    *ngIf="bufferShareBigPost"
    [post]="bufferShareBigPost"
    [isBackButton]="true"
    (back)="backShareBigPost()"
  ></app-share-big-post>
</div>

<div
  *ngIf="isEditSharePostVisible && post && isSharePost(post)"
  class="edit-share-panel"
>
  <app-edit-post-panel
    [post]="post"
    (back)="backEditPanel()"
  ></app-edit-post-panel>
</div>
