.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.skeleton
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}

.mask-top
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, transparent, 100%, black 105%);
  z-index: 1;
}

.mask-bottom
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, 85%, black 100%);
  z-index: 1;
}

.mask-up
{
  background: linear-gradient(to bottom, transparent, 20%, black 100%);
}

.pic
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.option
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 2rem;
  margin: 7px 0;
  filter: drop-shadow(2px 3px 5px #555);
}

.num
{
  font-size: 1rem;
}

.option-group
{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.info-group
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 2;
  color: #ffffff;
  max-height: 60%;
  max-width: 80%;
}

.user-info
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-name
{
  margin: 0 10px;
  font-weight: 900;
  font-size: 3.5vmin;
}

.user-pic
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 12vmin;
  border-radius: 50%;
}

.user-pic::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.description-wrapper
{
  overflow-y: scroll;
}

.prod-name
{
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 900;
  font-style: italic;
}

.description
{
  font-size: 3.5vmin;
  max-height: 80%;
  overflow-y: scroll;
}

.tags
{
  margin: 10px 0;
  font-size: 3.5vmin;
}

.tag
{
  font-weight: 900;
  display: inline-block;
  margin: 0 5px;
}

.carousel
{
  height: 100%;
}

::ng-deep .ant-carousel .slick-dots-top
{
  margin: 0;
  padding: 0 15px;
  width: 100%;
  top: 15px !important;
}

::ng-deep .ant-carousel .slick-dots li
{
  flex: 1 !important;
}

::ng-deep .ant-carousel .slick-dots li button
{
  background-color: #c9c8c8;
  border-radius: 20px;
  height: 5px;
}

::ng-deep .ant-carousel .slick-dots li.slick-active button
{
  background-color: #ffffff;
}

.prev
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  z-index: 4;
}

.next
{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 15%;
  z-index: 4;
}

.sk-info
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sk-item
{
  height: 100%;
  width: 100%;
  position: relative;
}

.sk-line
{
  position: absolute;
  height: 12%;
  background-color: #dedede;
  border-radius: 20px;
}

.sk-pic
{
  width: 16vmin;
  border-radius: 50%;
  background-color: #dedede;
  position: absolute;
  left: 20px;
}

.sk-pic::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.sk-fir-line
{
  width: 30%;
  top: calc(20vw - 12% - 10px);
  left: calc(20% + 35px);
}

.sk-sec-line
{
  width: 80%;
  left: 20px;
  top: calc(20vw + 20px);
}

.sk-thi-line
{
  width: 60%;
  top: calc(20vw + 15% + 30px);
  left: 20px;
}

.action-panel
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  height: 60%;
}

.add-to-cart
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
}

.bp-back
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 8%;
  display: flex;
  align-items: center;
  z-index: 11;
  margin-top: 20px;
}

.bp-back-btn
{
  color: #ffffff;
  background-color: #97b5bd;
  width: 8%;
  max-width: 8vh;
  position: relative;
  border-radius: 50%;
  margin-left: 10px;
}

.bp-back-btn>i
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bp-back-btn::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.shared-post
{
  position: absolute;
  z-index: 15;
  background: linear-gradient(to top right, #0098be, #56b7d0);
  width: 100%;
  top: 0;
  bottom: 0;
  left: 100%;
  transition: left .5s;
}
.shared-post-active
{
  left: 0 !important;
  right: 0 !important;
}

.edit-share-panel
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
}
