<div class="my-container">
  <div class="back" (click)="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </div>

  <div class="options">
    <div class="option">
      <div class="icon"><i class="fa-solid fa-people-arrows-left-right"></i></div>
      <div class="txt" (click)="changeOption('switch-account')">Switch account</div>
    </div>
    <div class="option">
      <div class="icon"><i class="fa-solid fa-pen-to-square"></i></div>
      <div class="txt" (click)="changeOption('edit')">Edit</div>
    </div>
  </div>

  <div class="logout-container">
    <div class="logout" (click)="this.isVisible=true">LOG OUT</div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="LOG OUT"
  (nzOnCancel)="this.isVisible=false"
  (nzOnOk)="logout()"
  nzOkText="Ok"
  nzCancelText="Cancel"
>
  <ng-container *nzModalContent>
    <div style="color: black; font-size: 4vmin;">Are you sure to log out?</div>
  </ng-container>
</nz-modal>
