<div class="my-container">
  <a class="back" [routerLink]="['/enter-email']"><i class="fa-solid fa-arrow-left"></i></a>
  <div class="content">
    <h2 class="title">Verification</h2>
    <span class="text">Enter the verification code from the email</span>
    <form class="codeForm" [formGroup]="codeForm" (ngSubmit)="sendVerificationCode()">
      <div class="code-form-content">
        <div class="input-group">
          <div class="label">
            The verification code
            <span class="error" *ngIf="code?.invalid && code?.touched">code is invalid</span>
          </div>
          <div class="input"><input formControlName="code" type="number" placeholder=""></div>
        </div>
      </div>
      <button class="send" type="submit" [disabled]="codeForm.invalid">Send</button>
    </form>
    <div class="resend">
      Have not received the email? <em style="font-weight: bolder;" (click)="resendEmail()">Resend</em>
    </div>
  </div>
</div>
