.my-container
{
  height: 100%;
  width: 100%;
  background: linear-gradient(to top right, #0098be, #56b7d0);
  position: relative;
}

.back
{
  height: 8%;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 7vmin;
}

.content
{
  width: 100%;
  height: 92%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  padding: 0 25px;
}

.title
{
  color: #0098be;
  padding: 50px 10px 20px 10px;
  font-size: 6vmin;
}

.text
{
  color: #0098be;
  padding: 10px;
  font-size: 3.5vmin;
}

.codeForm
{
  width: 100%;
  height: 20%;
  background-color: #fbfbfb;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  position: relative;
}

.code-form-content
{
  width: 100%;
  height: 100%;
  margin: 10px 0;
  border-radius: 20px 0 20px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.input-group
{
  width: 100%;
  flex: 1;
  margin: 10px 0;
  border-radius: 20px 0 20px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.label
{
  color: #0098be;
  height: 45%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 1.3rem;
}

.label>i
{
  margin-right: 8px;
}

.input
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55%;
  position: relative;
}

.input>input
{
  outline: none;
  border: none;
  width: 95%;
  height: 100%;
  padding: 0 20px;
  padding-bottom: 10px !important;
  font-size: 1.3rem;
  border-radius: 20px;
}

.error
{
  color: red;
  font-size: 0.9rem;
  margin-left: auto;
}

.send
{
  color: #ffffff;
  background: linear-gradient(to right, #0098be, #56b7d0);
  font-size: 1.3rem;
  border-radius: 3rem;
  padding: 2rem 4rem;
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.send:disabled
{
  opacity: 0.5;
}

.resend
{
  color: #0098be;
  margin: 15px 0;
  font-size: 4vmin;
}
