<div class="my-container" *ngIf="(shop$ | async) as shop">
  <div class="header">
    <div class="name">{{ shop.shopAccount }}</div>
    <div class="func-group">
      <div class="func-item settings"><i class="fa-solid fa-bars" (click)="spandSetting()"></i></div>
    </div>
  </div>
  <div class="content">
    <app-share-shop-profile
      [shop]="shop"
      (openBigProductPost)="openBigProductPosts($event)"
    ></app-share-shop-profile>
  </div>
</div>

<div class="settings-wrapper" [ngClass]="isSpandSettings?'spand-settings':''">
  <div class="settings-area">
    <app-shop-settings (collapse-settings)="collapseSettings($event)"></app-shop-settings>
  </div>
</div>

<div class="option-content" [ngClass]="isSpandOptionContent? 'active-option-content': ''">
  <app-shop-option-content
    (collapse)="collapseOptionContent($event)"
  ></app-shop-option-content>
</div>

<div class="big-shop-posts" [ngClass]="isOpenBigProductPosts?'big-shop-posts-active':''">
  <app-share-big-posts
    *ngIf="bufferProductPosts"
    [posts]="bufferProductPosts.posts"
    [initialSlide]="bufferProductPosts.init"
    [isBackBtn]="true"
    (back)="backBigProdcutPosts()"
  ></app-share-big-posts>
</div>

<!-- <div class="follow" *ngIf="isFollowOpen && (buyer$|async) as buyer">
  <app-follow
    [userid]="buyer._id"
    [isSearchPage]="false"
  ></app-follow>
</div> -->
