<div class="my-container" *ngIf="boughtItem as item">
  <div class="content">
    <div class="main-info">
      <div class="pic-wrapper">
        <div class="pic" [ngStyle]="{
          'background-image': 'url('+item.images[0]+')'
        }"></div>
      </div>
      <div class="name-wrapper">
        <div class="name">{{ item.name }}</div>
      </div>
      <div class="cost-wrapper">
        <div class="amount">x{{ item.amount }}</div>
        <div class="total">NT {{ item.price * item.amount }}</div>
      </div>
    </div>
    <div class="shipping-info">
      <div class="car"></div>
      <div class="shipping-status">{{ item.shippingStatus }}</div>
    </div>
  </div>
</div>
