.my-container
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px 0 20px 0;
}

.content
{
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-info
{
  width: 100%;
  display: flex;
  align-items: center;
}

.pic-wrapper
{
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic
{
  height: 100%;
  aspect-ratio: 1/1;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 2px 1px 5px 0px #b3b3b3;
}

.name-wrapper
{
  width: 55%;
  height: 100%;
  padding: 0 10px;
}
.name
{
  color: #000000;
  font-size: 4vmin;
  font-weight: 600;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cost-wrapper
{
  width: 25%;
  height: 100%;
}
.amount
{
  color: #0098be;
  font-size: 5vmin;
  text-align: right;
}
.total
{
  color: #79a3ae;
  font-size: 4vmin;
  text-align: right;
}

.shipping-info
{
  width: 100%;
  height: 30%;
  color: #0098be;
  font-size: 4vmin;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.car
{
  max-height: 100%;
  width: 15%;
  background-position: center;
  background-size: contain;
  background-image: url('../../../../../../assets/images/transport-svgrepo-com.png');
  background-repeat: no-repeat;
}
.car::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.shipping-status
{
  margin-left: 15px;
}
