<div *ngIf="shop" class="my-container">
  <div class="pic-wrapper">
    <div class="pic" [ngStyle]="{
      'background-image': 'url('+shop.profilePic+')'
    }"></div>
  </div>
  <div class="name-wrapper">
    <div class="name">{{ shop.shopAccount }}</div>
  </div>
</div>
