.my-container
{
  width: 100%;
  height: 100%;
}

.content
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.photo-num
{
  color: #0098be;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  width: 100%;
}

.photos
{
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
swiper
{
  height: 100%;
  width: 100%;
}
.my-file
{
  width: 80vw;
  max-height: 100%;
  aspect-ratio: 1/1;
}
.my-file>img,
.my-file>video
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photos > ::ng-deep .swiper-backface-hidden .swiper-slide
{
  display: flex;
  align-items: center;
  justify-content: center;
}
