<div class="my-container">
  <div class="content">
    <div
      class="photo-num"
      #photoNum
    >{{ 1 +' / '+(selectedPicsAndVideos.length+1) }}</div>
    <div class="photos">
      <swiper
        [config]="config"
        (slideChange)="onSlideChange($event)"
      >
        <ng-template
          *ngIf="selectedItem"
          swiperSlide
        >
          <div class="my-file">
            <img [src]="selectedItem.images[0]">
          </div>
        </ng-template>
        <ng-template
          *ngFor="let file of selectedPicsAndVideos"
          swiperSlide
        >
          <div class="my-file">
            <img [src]="file.url" *ngIf="file.format==='image'">
            <video *ngIf="file.format==='video'" autoplay="autoplay" controls>
              <source *ngIf="file.url" [src]="file.url.toString() | safeUrl">
            </video>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
