<div class="my-container">
  <div class="back-wrapper">
    <div class="back"><i class="fa-solid fa-arrow-left" (click)="backCart()"></i></div>
    <div class="cart-icon"><i class="fa-solid fa-cart-shopping"></i></div>
  </div>
  <div class="content" *ngIf="!isPlacedOrder">
    <div class="item-list">
      <div class="cart-item" *ngFor="let item of (onCartChange$ | async)">
        <app-cart-item
          [item]="item"
        ></app-cart-item>
      </div>
      <div class="total-info" *ngIf="(totalInfo$ | async) as info">
        <div class="item-num">{{ info.nums }}  items</div>
        <div class="total">NT  {{ info.prices }}</div>
      </div>
    </div>
  </div>
  <div class="action-bar">
    <div class="action-opt trash-wrapper" (click)="trash()"><i class="fa-solid fa-trash"></i></div>
    <div class="action-opt order-wrapper" (click)="shop()"><i class="fa-solid fa-bag-shopping"></i></div>
  </div>

  <div class="shop-finished" *ngIf="isPlacedOrder">
    <div class="finished-info">
      <div class="ok-wrapper">
        <div class="ok"><i class="fa-solid fa-check"></i></div>
      </div>
      <div class="info-txt">
        <div class="payment-txt">Payment Successfully</div>
        <div class="payment-ammount" *ngIf="(totalInfo$ | async) as info">NT {{ info.prices }}</div>
      </div>
    </div>
    <div class="home-btn" (click)="routeToProfile()">
      HOME
    </div>
  </div>
</div>
