.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top right, #0098be, #56b7d0);
}

.back-wrapper
{
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.back
{
  color: #ffffff;
  background-color: #8dd1e2;
  border-radius: 50%;
  padding: 5px;
  width: 4vh;
  font-size: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.cart-icon
{
  color: #ffffff;
  font-size: 3vh;
  margin: 0px 20px;
}

.content
{
  width: 100%;
  height: 83%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  overflow: hidden;
  padding-top: 15px;
}

.item-list
{
  width: 100%;
  height: 95%;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding: 10px;
  padding-bottom: calc(7vh + 10px);
}

.cart-item
{
  width: 100%;
  min-height: 27vmax;
  margin: 15px 0;
}

.total-info
{
  position: fixed;
  bottom: 12vh;
  right: 15px;
  width: 60%;
  height: 7%;
  border-radius: 50px;
  background-color: #dfdfdf;
  color: #0098be;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 4vmin;
  padding: 5px 20px;
}

.total
{
  margin-left: auto;
}


.action-bar
{
  width: 100%;
  height: 9%;
  background-color: #0098be;
  display: flex;
  align-items: center;
}

.action-opt
{
  color: #ffffff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7vmin;
}

.shop-finished
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finished-info
{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ok-wrapper
{
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.ok
{
  background-color: #0098be;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  color: #ffffff;
  width: 100%;
  font-size: 6vmin;
}
.ok::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}
.info-txt
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-txt
{
  color: #0098be;
  font-weight: 700;
  font-size: 5vmin;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-ammount
{
  color: #6bc1d7;
  font-size: 4vmin;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-btn
{
  background: linear-gradient(to right, #0098be, #51b5cf);
  color: #ffffff;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 4vmin;
  margin-top: 20vh
}
