<div class="my-container" *ngIf="post">
  <div class="close-wrapper">
    <div class="close" (click)="close()"><i class="fa-solid fa-xmark"></i></div>
  </div>
  <div class="content">
    <app-comment-panel
      *ngIf="actionType=='comment'"
      [post]="post"
    ></app-comment-panel>
    <app-buying-info
      *ngIf="actionType=='shop'"
      [post]="isProductPost(post)?post:productPostOfSharePost"
    ></app-buying-info>
    <app-edit-post
      *ngIf="actionType=='edit-post' && isSharePost(post)"
      [post]="post"
    ></app-edit-post>
  </div>
</div>
