.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;

  display: flex;
  flex-direction: column;
}

.close-wrapper
{
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #0098be;
  font-size: 8vmin;
}

.close-wrapper>.close
{
  margin-right: 25px;
}

.content
{
  position: relative;
  width: 100%;
  height: 90%;
}
