
<div
  class="my-container"
  *ngIf="post"
>
  <div
    *ngIf="isProductPost(post)"
    class="price-tag"
  >
    NT {{ post.price }}
  </div>
  <div
    class="coverimg"
    [ngStyle]="{
      'background-image': 'url('+cover+')'
    }"
    [ngClass]="isProductPostDeleted ? 'deleted-post' : ''"
  ></div>
  <div class="info" [ngClass]="isProductPostDeleted ? 'deleted-post' : ''">
    <div class="text">{{post.content}}</div>
    <div class="like">
      <i nz-icon nzType="heart" nzTheme="outline"></i>
      <div class="like-num">{{post.likeCount}}</div>
    </div>
  </div>

  <!-- for share post when product post been deleted -->
  <div *ngIf="isProductPostDeleted" class="deleted-tag">
    Product Deleted
  </div>
</div>
