.my-container
{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #fafafa;
  box-shadow: 3px 2px 4px 0px #e4e4e4;;
}

.price-tag
{
  position: absolute;
  color: #ffffff;
  background-color: #f64141;
  font-size: 3.5vmin;
  z-index: 4;
  padding: 0 12px;
  border-radius: 0 5px 5px 0;
  top: 15px;
  left: -7px;
}

.price-tag::before
{
  content: '';
  position: absolute;
  display: block;
  border: 4px solid #982d11;
  left: 0;
  bottom: -7.5px;
  border-color: #982d11 #982d11 transparent transparent;
}

.coverimg
{
  width: 100%;
  padding-bottom: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}

.info
{
  width: 100%;
  height: 25%;
  font-size: 1rem;
}

.text
{
  margin-top: 5px;
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.like
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #bbbbbb;
  font-size: 1rem;
  padding: 0 10px;
}

.deleted-post
{
  opacity: 0.6;
  position: relative;
}
.deleted-tag
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 5vmin;
  font-weight: 500;
  text-align: center;
}
