<div *ngIf="post && (getComment$ | async) as comments" class="my-container">
  <div class="com-count">{{ comments.length+(comments.length<=1 ? " comment" : " comments") }}</div>
  <div class="comments">
    <div *ngFor="let c of parseTwoTypeComments(comments)" class="comment">
      <app-single-comment
        [comment]="c"
        [isProductPost]="isProductPost(post)"
      ></app-single-comment>
    </div>
  </div>
  <div class="comment-input">
    <input type="text" [(ngModel)]="sendText">
    <div class="send" (click)="send()"><i class="fa-solid fa-paper-plane"></i></div>
  </div>
</div>
