.my-container
{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.com-count
{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0098be;
  font-size: 4vmin;
}

.comments
{
  width: 100%;
  height: 80%;
  padding: 10px 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comment
{
  width: 100%;
  height: 26%;
  position: relative;
  margin: 10px 5px;
}

.comment-input
{
  width: 100%;
  height: 15%;
  background-color: #000000;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.comment-input>input
{
  border: none;
  outline: none;
  width: 87%;
  height: 50%;
  border-radius: 40px;
  padding: 0 15px;
  font-size: 4.5vmin;
  color: #000000;
}

.comment-input>.send
{
  width: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 7vmin;
}
