.my-container
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 20px;
}

.share-nums-wrapper
{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.share-nums
{
  font-size: 4vmin;
  color: #0098be;
}

.shares-wrapper
{
  padding: 10px;
}

.share
{
  position: relative;
  border-radius: 20px;
  box-shadow: 1px 1px 6px rgb(132, 132, 132);
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/1.3;
  padding: 0;
}
.sharer-pic
{
  position: absolute;
  top: 0px;
  left: 10px;
  transform: translate(-35%, -35%);
  border-radius: 50%;
  width: 25%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cover
{
  width: 100%;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0 0;
}
.link
{
  flex: 1;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 4vmin;
}
.link>i
{
  margin-left: 20px;
}
