<div class="my-container" *ngIf="shares">
  <div class="content">
    <div class="share-nums-wrapper">
      <div class="share-nums">{{ shares.length+' shares' }}</div>
    </div>
    <div class="shares-wrapper container">
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 gy-2">
        <div *ngFor="let share of shares; let i = index" class="col p-2">

          <div class="share" (click)="navigateToSharePost(share._id)">
            <div
              class="sharer-pic"
              [ngStyle]="{
                'background-image': 'url('+buyerPics[i]+')'
              }"
            ></div>
            <div
              class="cover"
              [ngStyle]="{
                'background-image': 'url('+share.images[0]+')'
              }"
            ></div>
            <div class="link">
              Check detail <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
