@import "~swiper/swiper-bundle.css";

.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

.header
{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 15px;
}

.name
{
  color: #ffffff;
  font-size: 6.5vmin;
}

.func-group
{
  margin-left: auto;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 7vmin;
}

.func-item
{
  margin: 0 10px;
}

.add-post
{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: calc(8vh + 20px);
  right: 20px;
  z-index: 3;
  color: #0098be;
  font-size: 7vmin;
  border: 3px solid #0098be;
  border-radius: 50%;
  height: 11vmin;
  width: 11vmin;
  padding: 25px;
}

.content
{
  flex: 1;
  width: 100%;
  margin-top: 10%;
  position: relative;
}

.spand-settings
{
  left: 0 !important;
  right: 0 !important;
}

.settings-wrapper
{
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 100%;
  width: 100%;
  transition: left .5s;
}

.settings-area
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  z-index: 10;
}

.active-option-content
{
  left: 0 !important;
  right: 0 !important;
}

.option-content
{
  position: absolute;
  top: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 100%;
  width: 100%;
  z-index: 11;
  transition: left .5s;
}

.cart-page
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.follow
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.big-share-posts
{
  position: absolute;
  top: 0;
  bottom: calc(8vh + 15px - 1px);
  left: 100%;
  width: 100%;
  z-index: 11;
  transition: left .5s;
  background: linear-gradient(to top right, #0098be, #56b7d0);
}
.big-share-posts-active
{
  left: 0 !important;
  right: 0 !important;
}
