<div class="my-container" *ngIf="(buyer$ | async) as buyer">
  <div class="header">
    <div class="name">{{ buyer.account }}</div>
    <div class="func-group">
      <div class="func-item my-cart"><i class="fa-solid fa-cart-shopping" (click)="openCart()"></i></div>
      <div class="func-item settings"><i class="fa-solid fa-bars" (click)="spandSetting()"></i></div>
    </div>
  </div>
  <div class="content">
    <app-buyer-profile
      [buyer]="buyer"
      (openSharePosts)="openBigSharePosts($event)"
    ></app-buyer-profile>
  </div>
  <div class="add-post" (click)="openSharePost()">
    <i class="fa-solid fa-plus"></i>
  </div>
</div>

<div class="settings-wrapper" [ngClass]="isSpandSettings?'spand-settings':''">
  <div class="settings-area">
    <app-settings (collapse-settings)="collapseSettings($event)"></app-settings>
  </div>
</div>

<div class="option-content" [ngClass]="isSpandOptionContent? 'active-option-content': ''">
  <app-option-content
    (collapse)="collapseOptionContent($event)"
  ></app-option-content>
</div>

<div class="cart-page" *ngIf="isOpenedCart">
  <app-share-shopping-cart
    (back)="backCart($event)"
  ></app-share-shopping-cart>
</div>

<div class="follow" *ngIf="isFollowOpen && (buyer$|async) as buyer">
  <app-follow
    [userid]="buyer._id"
    [isSearchPage]="false"
  ></app-follow>
</div>

<div class="share-post" *ngIf="isOpenSharePost">
  <app-add-share-post
    (backToProfile)="closeSharePost()"
  ></app-add-share-post>
</div>

<div class="big-share-posts" [ngClass]="isOpenBigSharePosts?'big-share-posts-active':''">
  <app-share-big-posts
    *ngIf="bufferSharePosts"
    [posts]="bufferSharePosts.posts"
    [initialSlide]="bufferSharePosts.init"
    [isBackBtn]="true"
    (back)="backBigSharePosts()"
  ></app-share-big-posts>
</div>
