<div class="my-container" *ngIf="factor && follows">
  <div class="back-wrapper">
    <div class="back" (click)="back()"><i class="fa-solid fa-arrow-left"></i></div>
  </div>
  <div class="content">
    <div *ngFor="let follow of follows" class="user">
      <div class="pic-wrapper">
        <img [src]="follow.user.profilePic">
      </div>
      <div class="name-wrapper">
        <div class="name">
          {{ follow.followInfo.followType===0 ? parseBuyer(follow.user).account : parseShop(follow.user).shopAccount }}
        </div>
      </div>
      <div class="action-wrapper" *ngIf="!isSearchPage">
        <div class="action-btn" (click)="doAction(factor.type, follow.user._id, follow.followInfo)">
          {{ factor.type==='following' ? 'Following' : 'Remove' }}
        </div>
      </div>
    </div>
  </div>
</div>
