.my-container
{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, #0098be, #56b7d0);
}

.back-wrapper
{
  width: 100%;
  height: 8%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.back
{
  border-radius: 50%;
  width: 3.5vh;
  color: #ffffff;
  background-color: #93d4e3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.content
{
  width: 100%;
  height: 92%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}

.user
{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
}

.pic-wrapper
{
  width: 20%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.pic-wrapper>img
{
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 100%;
}

.name-wrapper
{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.name
{
  color: #0098be;
  font-size: 4vmin;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action-wrapper
{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-btn
{
  color: #0098be;
  border: 1px solid #0098be;
  border-radius: 15px;
  font-size: 4vmin;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
