.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #0098be;

  display: flex;
  flex-direction: column;
}

.top-bar
{
  padding: 0 10px;
  position: relative;
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

.component-container
{
  position: relative;
  width: 100%;
  height: 92%;
}

.component
{
  display: none;
}

.back-btn
{
  border-radius: 50%;
  background-color: #97b5bd;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.back-btn>i
{
  color: #ffffff;
}

.type-info-wrapper
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  height: 100%;
}

.type-info
{
  color: #ffffff;
  font-size: 6vmin;
}
