.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content
{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
}

.bought-items-list
{
  width: 100%;
  height: 95%;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bought-item
{
  width: 100%;
  margin: 15px 0;
}
