<div class="my-container">
  <div class="content">
    <div class="bought-items-list">
      <div
        class="bought-item"
        *ngFor="let boughtItem of (boughtItems$|async)"
      >
        <app-bought-item
          [bought-item]="boughtItem"
        ></app-bought-item>
      </div>
    </div>
  </div>
</div>
