<div class="my-container" *ngIf="buyer">
  <div class="content">
    <div class="main-cont">
      <div
        class="cont-pic"
        [ngStyle]="{
          'background-image': 'url('+buyer.profilePic+')'
        }"
      ></div>
      <div class="info-group">
        <div class="info-item following" (click)="openFollowing()">
          <div class="num">{{ buyer.followingCount }}</div>
          <div class="text">Following</div>
        </div>
        <div class="info-item follower" (click)="openFollower()">
          <div class="num">{{ buyer.followerCount }}</div>
          <div class="text">Followers</div>
        </div>
        <div class="info-item posts-tag">
          <div class="num">{{ sharePosts.flat().length }}</div>
          <div class="text">Posts</div>
        </div>
      </div>
      <div appMoreContent [text]="buyer.selfIntro" class="description"></div>
      <swiper
        [config]="swiperConfig"
        *ngIf="sharePosts"
      >
        <ng-template
          *ngFor="let posts of sharePosts"
          swiperSlide
        >
          <div class="posts">
            <div *ngFor="let post of posts" class="post">
              <app-share-share-post
                #sharePost
                [post]="post"
                (click)="openBigSharePost(post)"
              ></app-share-share-post>
            </div>
            <div *ngFor="let dummy of '.'.repeat(4-sharePosts.length-1).split('.')" class="post"></div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isModalVisible"
  nzTitle="DELETE POST"
  (nzOnCancel)="this.isModalVisible=false"
  (nzOnOk)="deletePost()"
  nzOkText="Ok"
  nzCancelText="Cancel"
>
  <ng-container *nzModalContent>
    <div style="color: black; font-size: 4vmin;">Are you sure to delete post?</div>
  </ng-container>
</nz-modal>
