<div *ngIf="buyer" class="my-container">
  <div class="pic-wrapper">
    <div class="pic" [ngStyle]="{
      'background-image': 'url('+buyer.profilePic+')'
    }"></div>
  </div>
  <div class="name-wrapper">
    <div class="name">{{ buyer.account }}</div>
  </div>
</div>
