.my-container
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.pic-wrapper
{
  height: 100%;
  width: 18%;
}
.pic
{
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.pic::after
{
  content: '';
  display: block;
  padding-bottom: 100%;
}

.name-wrapper
{
  height: 100%;
  width: 82%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.name
{
  color: #0098be;
  font-size: 4vmin;
}
