.mynav
{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
}

.icon-div
{
  position: relative;
}

i
{
  color: #9cd5e4;
  font-size: 6vmin;
}

.active
{
  /* on a tag */
  color: #0098be;
}

.active::after
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  border: 1px solid #0098be;
}

.active-svg
{
  filter: invert(36%) sepia(99%) saturate(1073%) hue-rotate(161deg) brightness(94%) contrast(101%);
}

.active-tinder-div::after
{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  border: 1px solid #0098be;
}
