@import "~swiper/swiper-bundle.css";

.my-container
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content
{
  flex: 1;
  width: 100%;
}

.main-cont
{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50px 0 0 0;
  padding: 0 10px;
}

.cont-pic
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  border: 3px solid #ffffff;
  min-width: 90px;
  min-height: 90px;
  width: 15vmin;
  height: 15vmin;
  transform: translateY(-40%);
}

.info-group
{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 3.5vmin;
  margin: 10px max(calc(90px + 30px - 20px), calc(15vmin + 30px));
}

.info-item
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  position: relative;
}

.following::after,
.follower::after,
.posts-tag::after
{
  content: '';
  position: absolute;
  border: 0.5px solid #0098be;
  right: -10px;
  top: 5px;
  bottom: 5px;
  border-radius: 20px;
}

.num
{
  color: #0098be;
  white-space: nowrap;
}

.text
{
  color: #7da6b1;
}

.description
{
  color: #0098be;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 3.5vmin;
}

.posts
{
  margin: 0 2vw;
  min-height: 60vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

.post
{
  padding: 10px;
}

.swiper {
  width: 100%;
  padding-bottom: 45px;
}

::ng-deep .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction
{
  bottom: 15px;
}
