<div class="my-container" *ngIf="shop">
  <div class="content">
    <div class="main-cont">
      <div
        class="cont-pic"
        [ngStyle]="{
          'background-image': 'url('+shop.profilePic+')'
        }"
      ></div>
      <div class="info-group">
        <div class="info-item following" >
          <div class="num">{{ shop.followingCount }}</div>
          <div class="text">Following</div>
        </div>
        <div class="info-item follower"  >
          <div class="num">{{ shop.followerCount }}</div>
          <div class="text">Followers</div>
        </div>
        <div class="info-item posts-tag">
          <div class="num">{{ shopPosts.flat().length }}</div>
          <div class="text">Posts</div>
        </div>
        <div class="info-item rating">
          <div class="num">{{ shop.rating.ratingStar+' / 5.0' }}</div>
          <div class="text">Rating</div>
        </div>
      </div>
      <div appMoreContent [text]="shop.selfIntro" class="description"></div>
      <swiper
        [config]="swiperConfig"
      >
        <ng-template
          *ngFor="let posts of shopPosts"
          swiperSlide
        >
          <div class="posts">
            <div *ngFor="let post of posts" class="post">
              <app-share-share-post
                [post]="post"
                (click)="openBigProductPost(post)"
              ></app-share-share-post>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>

